<div id="main">

    <section>

        <div class="row">

            <div class="col-md-12">

                <div class="fqa">

                    <p class="fqa-title">よくある質問</p>
                    <div class="fqa-content">
                        <ul>
                            <li><a href="#fqa-1">１，配送に関して </a></li>
                            <li><a href="#fqa-2">２，返品・交換いついて </a></li>
                            <li><a href="#fqa-3">３，ログインについて </a></li>
                            <li><a href="#fqa-4">４，会員登録について </a></li>
                            <li><a href="#fqa-5">５，お支払い方法について</a></li>
                            <li><a href="#fqa-6">６，注文変更・キャンセルについて </a></li>
                            <li><a href="#fqa-7">７，ご注文について </a></li>
                            <li><a href="#fqa-8">８，サイトお問い合わせ </a></li>
                        </ul>

                        <div id="fqa-1" class="fqa-detail">
                            <p>１・配送に関して </p>
                            <p>
                                ● 配送方法の確認方法 <br>
                                ● 発送のお知らせメールについて <br>
                                ● 商品を受け取れなかった場合について <br>
                                ● 配達のお知らせメールが届いた <br>
                            </p>
                        </div>

                        <div id="fqa-2" class="fqa-detail">
                            <p>２・返品・交換いついて</p>
                            <p> ●返品・交換について<br>
                                商品到着から8日以内の初期不良のみ返品対応いたします。商品到着後商品確認をお願い致します。<br>
                                ●返品の問い合わせ方法について<br>
                                お問い合わせよりメールにて【返品依頼】という件名にてお問い合わせください。<br>
                                ●返品・交換に関する条件<br>
                                商品の欠陥や不良など当社原因による場合には、商品到着から8日以内で返品・交換を受け付けます。この場合の返品は、事前に当社に通知するものとします。<br>
                                ●クーリングオフについて<br>
                                クーリングオフは､訪問販売や電話勧誘等に適用される制度のため､通信販売では適用されません｡<br>
                                予めご了承いただきますよう、お願いいたします。<br>

                            </p>
                        </div>

                        <div id="fqa-3" class="fqa-detail">
                            <p>３・ログインについて</p>
                            <p>
                                ●パスワードを忘れた方は<a href="/users/login-user">　こちら</a>。<br>

                                ●SNSが届かない。<br>
                                電話番号の再確認をお願い致します。<br>
                                電話番号に誤りが無いか、再度ご確認をお願いします。<br>
                                正しい電話番号を入力しても、SMSが届かない場合は、<br>
                                SMSの受信設定が「受信しない」になっている可能性があります。設定をご変更いただくか、別の電話番号にてお試しください。<br>

                                ●退会をしたい。（退会方法がわからない）<br>

                                ●機種変更・データ引き継ぎについて。<br>
                                新しい機種にて、会員登録時のメールアドレス・パスワードでログインをお願いいたします。<br>
                                過去の注文履歴・お気に入り情報など引き継ぎが行えます。<br>
                                ※閲覧履歴・保存タブ・検索履歴は引き継がれません。<br>
                            </p>
                        </div>

                        <div id="fqa-4" class="fqa-detail">
                            <p>４・会員登録について</p>
                            <p>
                                ●会員・退会について会員登録情報を変更したい。<br>
                                登録情報はマイページの会員情報の変更ページで変更できます｡
                            </p>
                        </div>

                        <div id="fqa-5" class="fqa-detail">
                            <p>５・お支払い方法について</p>
                            <p>●支払い方法は何があるの？<br>
                                銀行振込・クレジットカードがご利用可能です。<br>

                                ●クレジット決済について<br>
                                ご利用できるカードブランドにつきましては、以下になります。<br>
                                VISA/master/JCB/AmericanExpress    </p>
                        </div>

                        <div id="fqa-6" class="fqa-detail">
                            <p>６・注文変更・キャンセルについて　</p>
                            <p>
                                ●注文をキャンセルしたい。<br>
                                ●お届け先住所の変更方法<a href="/users/address-management">　こちら</a>。<br>
                                ●ご注文内容の変更について。<br>
                                変更はご注文完了前でしたら変更していただけます。<br>
                                注文完了後はその注文を一旦キャンセルして再注文お願い致します。<br>
                                ●配送手配中の場合のお届け先情報変更について。<br>
                                お手数ですが、配送業者へ直接ご連絡お願い致します。
                            </p>
                        </div>

                        <div id="fqa-7" class="fqa-detail">
                            <p>７・ご注文について</p>
                            <p>●送料について<br>

                                ●注文できているか知りたい<br>
                                【注文履歴】　よりご確認いただけます。 <br>
                                ●ご注文の制限について<br>
                                人気商品など、個数制限を設けさせて頂く場合がございます。<br>

                                ●注文明細メールなどが届かない場合<br>
                            </p>
                        </div>

                        <div id="fqa-8" class="fqa-detail">
                            <p>８・サイトお問い合わせ</p>
                            <p>＜サポート事務局へのお問い合わせ＞<br>
                                お問い合わせは、ヘルプの内容をご確認のうえ、 解決しない場合はページ下部の「お問い合わせ」 よりお問い合わせください。<br>
                                順次担当の者より回答させていただきます。<br>
                                質問内容によってはお時間をいただくこともございますのでご了承ください。<br>

                                <!--＜プライバシーポリシー＞-->   </p>
                            <p>＜プライバシーポリシー＞​<br />
                                株式会社 ナックルメロン（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。個人情報の管理当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。個人情報の利用目的お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。​<br />
                                個人情報の第三者への開示・提供の禁止当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。​<br />
                                ​<br />
                                お客さまの同意がある場合お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合法令に基づき開示することが必要である場合個人情報の安全対策当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。ご本人の照会お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。法令、規範の遵守と見直し当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。お問い合せ当社の個人情報​<br />
                                の取扱に関するお問い合せは下記までご連絡ください。​<br />
                                ​<br />
                                株式会社 ナックルメロン​<br />
                                運営統括責任者 : 品川 雄大​<br />
                                所在地 : 〒496-0856 愛知県津島市瑠璃小路町1-63​<br />
                                電話番号 : 0567-58-5805​<br />
                                Mail:knucklemelon.com@gmail.com​</p>


                        </div>


                    </div>
                </div>


            </div>

        </div>

    </section>
</div>