<div id="main">

    <section>

        <div class="row">

            <div class="col-md-12">

                <div class="guide">

                    <p class="guide-title">SHOPご利用ガイド</p>

                    <div class="guide-content">

                        <div class="guide-detail">
                            <p></p>
                            <p>

                                当ショップのご利用方法をご紹介いたします。 <br>

                                当ショップはレディースからメンズなど、幅広いジャンルで中国輸入 <br>

                                を中心に、ファッションアイテムなどまとめて <br>

                                仕入れできる卸サイトです。<br>

                                お得なセールやイベントも開催しておりますので是非ご活用下さい。<br>
                            </p>
                        </div>

                        <div class="guide-detail">
                            <p>仕入れのタイミングがわかりやすい！！！ </p>

                            <p>当ショップは、ご利用していただく皆様に、<br>
                                転売に特化した仕入れができるサイトを目指しており <br>
                                各データを用いて購入しやすい商品ページを目指しており <br>
                                ます。是非、ご活用下さいませ。</p>
                        </div>

                        <div class="guide-detail">
                            <p>面倒な輸入の商品もすべておまかせ！！！ </p>

                            <p>関税などのやりとりの面倒な輸入も、<br>
                                当ショップが全て行いますので、安心してご購入下さい。</p>
                        </div>

                        <div class="guide-detail">
                            <p>便利なお支払い方法！！！ </p>

                            <p>当ショップは、<br>
                                <b> 銀行振込・クレジットカード </b> <br>
                                にてご購入いただけます。 <br>
                                皆様の資金にあわせた仕入れを是非ご利用下さいませ。<br></p>
                        </div>

                        <div class="guide-detail">
                            <p>注文商品の配送状況がひと目で分かる！！ </p>

                            <p>会員様が注文した商品が <br>
                                どこにある？ <br>
                                いつ発送された？ <br>
                                などの不安に、ほぼリアルタイムで <br>
                                確認することが可能となっております。</p>
                        </div>

                        <div class="guide-detail">
                            <p>誠実なサポート </p>

                            <p>お客様窓口として「<a href="/contact"><b>お問い合わせ</b></a>」を設けております。<br>

                                メールフォームにてご不明点など <br>

                                お気軽にお問い合わせ下さいませ。<br>

                                なお、<a href="/fqa"><b>よくある質問</b></a> にもお客様よりお問い合わせが <br>

                                ある質問を掲載しておりますので、是非ご利用くださいませ。<br>


                                誠実なサポートを心がけて参ります。<br>
                                どうぞ宜しくお願い致します。<br>
                            </p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

</div>