<div id="main">

    <section>

        <div class="row">

            <div class="col-md-12">

                <div class="term-service">

                    <p class="ts-title">利用規約</p>

                    <div class="ts-content">
                        <div class="ts-detail">
                            <p>第１条　会員資格</p>

                            <p>１．会員とは本規約を承認の上、インターネットを使って株式会社ナックルメロン（以下、「当社」といいます。）が（http://157.7.130.212:8080/?page=2）において運営する事業者向けECサービス（以下、「ECサービス」といいます。）利用のために会員として入会を申し込み、当社が入会を認め、IDを貸与された個人、法人のことを言います。<br>

                                ２．会員は、本規約に基づき、ECサービスで販売される商品、権利、デジタルコンテンツ及びサービス（以下、「商品等」といいます。）を購入することができます。<br>

                                ３．サプライヤーとは、KNUCKLE MELONサプライヤー会員規約を承認の上、ECサービスにおける商品等販売のために入会を申し込み、当社が入会を認め、IDを貸与されたユーザーのことを言います。<br>

                                ４．会員は会員資格を第三者に利用させたり、貸与、譲渡、売買、質入等をすることはできないものとします。</p>
                        </div>

                        <div class="ts-detail">
                            <p>第２条　会員規約の変更 </p>
                            <p>当社は、本規約を変更することができるものとします。本規約を変更した場合、料金その他のECサービスに関する一切の事項は変更後の規約によるものとします。</p>
                        </div>

                        <div class="ts-detail">
                            <p>第３条　当社の役割 </p>
                            <p>当社は、サプライヤーと会員がECサービスを通じて商品、権利又はデジタルコンテンツの売買契約若しくはサービス提供契約（以下、「売買契約等」といいます。）を締結するためのECサービスの場を提供しますが、当社は、売買契約等の当事者にはなりません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第４条　入会 </p>
                            <p>１．会員になろうとする方は、本規約を承認の上、当社の所定の手続きにより当社に入会を申し込むものとします。<br>

                                ２．会員になろうとする方は、審査を行わない会員種別として当社が定める種別の会員になろうとする場合を除き、会員種別に応じて、当社及び当社が指定する決済事業者（以下、「決済事業者」といいます。）の所定の審査を受けるものとします。
                                <br>
                                ３．役員又は従業員が暴力団その他これらに類する団体、組織（以下、「暴力団等」といいます。）に現在関与し、あるいは過去に関与していた方は入会できません。<br>

                                ４．日本国内に営業所または居所を有さない法人及び個人事業主の方は入会できません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第５条　ID・パスワード </p>
                            <p>１．会員は、会員登録後に当社が会員に付与するID、パスワードの管理責任を負うものとします。<br>

                                ２．会員はID及びパスワードを第三者に利用させたり、貸与、譲渡、売買、質入等をすることはできないものとします。<br>

                                ３．会員がID及びパスワードを入力した場合、ID及びパスワードの入力後当社の定める時間を経過するまでの間（以下、「利用可能時間」といいます。）、会員は、ID及びパスワードを入力する事なく、購入その他の当社所定の利用方法による利用ができます。会員は、利用可能時間中、ID及びパスワードを入力した装置を第三者に利用させたり、貸与、譲渡、売買、質入等をすることはできないものとします。<br>

                                ４．ID及びパスワード並びにID及びパスワードを入力した装置の管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、当社は一切責任を負いません。<br>

                                ５．会員は、パスワードを第三者に知られた場合、利用可能時間中のID及びパスワードを入力した装置を第三者に使用されるおそれのある場合、又はID又はパスワードが第三者に使用されている疑いのある場合には、直ちに当社にその旨連絡するとともに、当社の指示がある場合にはこれに従うものとします。<br>

                                ６．会員は、定期的にパスワードを変更する義務があるものとし、その義務を怠ったことにより損害が生じても当社は一切責任を負いません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第６条	取引申請</p>
                            <p>１．会員は、商品等の購入を希望する場合、当該商品等を販売しようとするサプライヤーに対し、当社所定の方式により取引開始の申請（以下、「取引申請」といいます。）を行うものとします。なお、当該サプライヤーが当社所定の方法で選択する取引対象会員に該当しない会員は、当該サプライヤーに対しては取引申請を行うことはできないものとします。<br>

                                ２．会員は、サプライヤーが取引申請を承諾することにより、当該サプライヤーが販売しようとする商品等の購入申し込み及び当該サプライヤーに関する当社所定の詳細情報の閲覧ができるようになるものとします。ただし、サプライヤーは、取引申請の承諾をいつでも撤回できるものとします。<br>

                                ３．当社は、取引申請を行った会員の登録情報をサプライヤーに対し提供することができるものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第７条　売買 </p>
                            <p>１．会員は、当社所定の方式により商品等の購入申し込みを行うものとし、当該購入申し込みをサプライヤーが当社所定の方式により承諾することにより、商品等の売買契約等が成立するものとします。ただし、会員は、当社が定める場合には、購入申し込みに関し、事前に当社又は決済事業者の所定の審査を受けるものとし、当該審査を通過した購入申し込みをサプライヤーが当社所定の方式により承諾することにより、商品等の売買契約等が成立するものとします。<br>

                                ２．会員は、ECサービスを利用することなくサプライヤーと商品等の売買契約等を締結してはならないものとします。<br>

                                ３．会員は、決済事業者及び当社が別途定める与信額を超えて商品等を購入することはできないものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第８条　代金等の支払 </p>
                            <p>１．会員は、第２項に定める場合を除き、サプライヤーに対し、サプライヤーの指定する方法で商品等の代金及び送料ならびに会員がサプライヤーに対して支払うことを合意したその他の金銭（以下、「代金等」といいます。）を支払うものとします。<br>

                                ２．会員は、当社の指定する場合、当社又は当社の指定する第三者に対し、代金等のサプライヤーへの支払いを委託するものとします。当該支払委託により、当社又は当社の指定する第三者は、会員のサプライヤーに対する代金等の支払債務を重畳的に引受け、これを履行するものとします。<br>

                                ３．会員は、サプライヤーが会員に対して有する債権を決済事業者に譲渡することができるものとし、会員は、予めこれを承諾するものとします。<br>

                                ４．会員は、当社がサプライヤーに対し代金等を支払った場合（当社が代金等を支払う前に会員が直接サプライヤーに代金等を支払った場合を含みます）、当社及び決済事業者の定める方法により代金等を支払うものとします。<br>

                                ５．当社は、当社の判断により、いつでも第２項に基づく支払委託を解除することができるものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第９条　料金の支払方法 </p>
                            <p>１．会員は、当社の定める金額の入会金、月会費その他の料金を当社の定める方法により支払うものとします。<br>

                                ２．会員が当社の定める期日までに当社の定める入会金、月会費その他の料金を支払わなかった場合、会員は、当社に対し、支払期日の翌日より年１４．６パーセントの割合による遅延損害金を支払うものとします。<br>

                                ３．当社は、会員に対して有する料金債権を決済事業者に譲渡することができるものとし、会員は、予めこれを承諾するものとします。<br>

                                ４．当社が会員に対して有する料金債権を決済事業者に譲渡した場合、会員は、当社及び決済事業者の定める方法により料金を支払うものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１０条　保証金 </p>
                            <p>１．会員（会員になろうとする方を含みます。）は、当社が指定した場合、当社に対し、当社が別途定める期日までに、当社が別途定める金額の保証金を預託するものとします。<br>

                                ２．会員に当社あるいは決済事業者に対する未払いの代金等又は料金が存在する場合、当社は、保証金を当該代金等又は料金の支払いに当てることができるものとします。<br>

                                ３．当社は、会員の退会後、会員に当社あるいは決済事業者に対する未払いの代金等又は料金が存在する場合は、保証金を当該代金等又は料金の支払いに当てた上で会員に対し残額を返還するものとします。未払いの代金等又は料金が存在しない場合は、退会後３０日以内に保証金を返還するものとします。ただし、返還にともなう振込み手数料は会員が負担するものとします。<br>

                                ４．保証金は無利息とします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１１条　フィードバック </p>
                            <p>１．サプライヤーの会員に対する評価（以下、「フィードバック」といいます。）は、当該会員が取引申請を行ったサプライヤーに対して公開されます。<br>

                                ２．フィードバックについては、当社は、何らの責任を負わないものとします。<br> </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１２条　個人情報等について </p>
                            <p>１．会員になろうとする方は、当社所定の情報を当社に登録する必要があります。<br>

                                ２．会員の法人名又は事業者氏名、住所、電話番号、代表者名及び担当者名はウェブサイト上で公開されます。<br>

                                ３．会員のECサービスの利用履歴は、ウェブサイト上で当社が定める期間、公開されます。<br>

                                ４．当社は、会員の個人情報を以下の目的で利用することができるものとします。
                                ECサービス、コンテンツその他の情報提供サービス、システム利用サービスの提供のため
                                当社及び第三者の商品等（旅行、保険その他の金融商品を含む。以下同じ。）の販売、販売の勧誘、発送、サービス提供のため
                                当社及び第三者の商品等の広告又は宣伝（ダイレクトメールの送付、電子メールの送信を含む。）のため
                                料金請求、課金計算のため
                                本人確認、認証サービスのため
                                アフターサービス、問い合わせ、苦情対応のため
                                アンケートの実施のため
                                懸賞、キャンペーンの実施のため
                                アフィリエイト、ポイントサービスの提供のため
                                マーケティングデータの調査、統計、分析のため
                                決済サービス、物流サービスの提供のため
                                新サービス、新機能の開発のため
                                システムの維持、不具合対応のため
                                会員記述情報の掲載のため <br>
                                ５．当社は、以下に定める場合には、会員の個人情報を第三者に提供することができるものとします。<br>
                                第６条第３項に定める場合
                                決済事業者が入会審査等を行うため、あるいは当社から決済事業者に譲渡した債権を行使するために、決済事業者に開示する場合
                                会員の同意がある場合
                                裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を有する機関から開示を求められた場合
                                保険金請求のために保険会社に開示する場合
                                当社が行う業務の全部または一部を第三者に委託する場合
                                当社に対して秘密保持義務を負う者に対して開示する場合
                                当社の権利行使に必要な場合
                                合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合
                                個人情報保護法その他の法令により認められた場合 <br>
                                ６．当社は、会員に対し、サプライヤーその他の第三者の広告又は宣伝等のために電子メールその他の広告宣伝物を送信することができるものとします。 <br>

                                ７．会員は個人情報保護法に違反する行為を行なってはならないものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１３条　会員規約の違反等について </p>
                            <p>１．会員が以下の各号のいずれかに該当した場合、当社は、当社の定める期間、ECサービスの利用を認めないこと、又は、会員資格を取り消すことができるものとします。ただし、この場合も当社が受領した料金を返還しません。
                                当社あるいは決済事業者所定の書類を所定の期限内に提出しない場合
                                本規約またはこれに付随する契約に違反した場合
                                会員のフィードバックが当社の定める基準に達しない場合
                                他の会員あるいはサプライヤーに不当に迷惑をかけたと当社が判断した場合
                                入会申込み及び会員となった後の登録情報変更において、虚偽の事実または不正があった場合
                                当社に対して本規約に基づく料金の支払いを遅延し、または料金の支払いを怠った場合
                                会員、その役員又は従業員が暴力団等に現在関与し、あるいは過去に関与していたと当社が判断した場合
                                会員の営業又は業態が公序良俗に反すると当社が判断した場合
                                当社が会員と連絡がとれなくなった場合
                                法令に基づく営業停止若しくは営業禁止の命令を受け、又は許認可等が取り消された場合
                                第三者より差押、仮差押、仮処分、競売、破産、民事再生等若しくは滞納処分の申し立てを受け、又は自ら申し立てを行った場合
                                財産状態が著しく悪化し、またはそのおそれがあると認められる事由がある場合
                                ECサービスの運営、提供を阻害する行為を含む当社に対する迷惑行為を行った場合
                                当社と締結している他の契約、または当社の他のサービスにかかる規約に違反した場合
                                その他、会員として不適切であると当社が判断した場合 <br>
                                ２．当社の措置により会員に損害が生じても、当社は、一切損害を賠償しません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１４条　サービスの提供条件 </p>
                            <p>１．当社は、メンテナンス等のために、会員に通知することなく、本サービスを停止し、又は変更することがあります。<br>

                                ２．本サービスの提供を受けるために必要な機器、通信手段などは、会員の費用と責任で備えるものとします。<br>

                                ３．当社は、本サービスに中断、中止その他の障害が生じないことを保証しません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１５条　当社の責任 </p>
                            <p>１．当社は、ECサービスにおいて販売される商品等に関する一切の事項について何らの責任を負いません。<br>

                                ２．当社は、ECサービスにおけるサプライヤーに関する一切の事項について何らの責任を負いません。<br>

                                ３．当社は、ECサービスに関して、会員、サプライヤーその他の第三者との間で発生した一切のトラブルについて、関知しません。<br>

                                ４．会員は法律の範囲内でECサービスをご利用ください。ECサービスの利用に関連して会員が日本及び外国の法律に触れた場合でも、当社は一切責任を負いません。<br>

                                ５．本規約において当社の責任について規定していない場合で、当社の責めに帰すべき事由により会員に損害が生じた場合、当社は、会員が過去１２ヶ月に支払った料金を上限として賠償します。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１６条　登録事項の変更 </p>
                            <p>会員は、登録事項に変更のあった場合、すみやかに当社所定の手続きにより当社に届け出るものとします。この届出のない場合、当社は、登録事項の変更のないものとして取り扱うことができるものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１７条　当社からの通知 </p>
                            <p>当社からの通知は、当社に登録されたメールアドレスにメールを送信することをもってメールが通常到達すべきときに到達したものとします。
                            </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１８条　サービス廃止 </p>
                            <p>当社は当社の都合によりいつでも本サービスを廃止できるものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第１９条　退会 </p>
                            <p>１．会員は、当社所定の手続きにより退会することができます。<br>

                                ２．当社は、会員が退会した場合も当社が受領した料金を返還しません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第２０条　準拠法 </p>
                            <p>ECサービスその他本規約に関する準拠法は日本法とします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第２１条　管轄裁判所 </p>
                            <p>会員と当社との間で訴訟が生じた場合、名古屋地方裁判所を専属的管轄裁判所とします。 </p>
                        </div>

                        <p class="ts-title">クーポン追加規約</p>

                        <div class="ts-detail">
                            <p> </p>
                            <p>「KNUCKLE MELONクーポンに関する追加規約（バイヤー会員向け）」（以下「クーポン追加規約」といいます）とは、KNUCKLE MELONバイヤー会員規約（以下「バイヤー規約」といいます）の一部を構成するものとして、本ECサービスのオプションサービスとして提供されるKNUCKLE MELONクーポンサービス（第1条に定義します）の利用条件を定めるものです。クーポン追加規約の定めは、バイヤー規約に優先して適用され、クーポン追加規約で特に定めのない限り、クーポン追加規約で使用される語句および用語の定義は、バイヤー規約に従うものとします。 </p>

                        </div>

                        <div class="ts-detail">
                            <p>第１条　KNUCKLE MELONクーポンサービスの提供 </p>
                            <p>１．ECサービスにおいて当社が提供するクーポンは、以下の各号に定める2種類とします。<br>
                                （１）「モールクーポン」とは、当社が発行するクーポンであって、ECサービス及び当社が指定するウェブサイトにおいて使用することができるものをいいます。<br>
                                （２）「サプライヤークーポン」とは、サプライヤー会員が当社所定の方法により会員に対し発行するクーポンであって、サプライヤーがECサービスで運営する店舗（以下「サプライヤー店舗」という）において使用することができるものをいいます。<br>

                                ２．クーポンの付与条件、バイヤー会員がクーポンによって受けることができるサービスの内容、クーポンの有効期間、利用条件、その他の諸条件等は、当社が別途クーポンごとに定めるものとし（ただし、サプライヤークーポンについては、当社が認める範囲内で、サプライヤー店舗が定めるものとします）、会員はクーポンを受領する都度これらを確認のうえクーポンを利用するものとします。<br>

                                ３．バイヤー会員が、クーポンごとに定められている付与条件を充足した場合、当社（サプライヤークーポンについてはサプライヤー店舗）は会員に対してクーポンの付与を行います。<br>

                                ４．当社（サプライヤークーポンについては当社またはサプライヤー店舗）が、所定のウェブサイトにおけるクリック、URLの入力、その他クーポンの取得方法を指定する場合、バイヤー会員は当該クーポンの取得にあたり、所定の手続きを行うものとします。<br>

                                ５．バイヤー会員は、当社（サプライヤークーポンについては当社またはサプライヤー店舗）が定める利用条件を充足した場合、当社所定の方法によりクーポンを利用することができます。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第２条	クーポンの管理 </p>
                            <p>１．当社は、自己の判断により、バイヤー会員に対してモールクーポンを発行することができます。<br>

                                ２．モールクーポンの種類、内容、利用対象、有効期限、その他の詳細については、当社が任意に定めることができるものとします。<br>

                                ３．モールクーポンは、原則として全てのサプライヤー店舗を利用対象とします。ただし、サプライヤー会員にやむを得ない事由があり、当社が認めた場合にはこの限りではありません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第３条　クーポンの譲渡の禁止 </p>
                            <p>１．会員は、保有するクーポンを第三者に譲渡または質入したり、バイヤー会員間でクーポンを共有したりすることはできません。<br>

                                ２．一人のバイヤー会員が複数の会員登録をしている場合、バイヤー会員はそれぞれの会員登録において保有するクーポンを他の会員登録に移し、または合算することはできません。<br> </p>
                        </div>

                        <div class="ts-detail">
                            <p>第４条　クーポンの取消及び消滅 </p>
                            <p>１．当社は、バイヤー会員が次の各号のいずれかに該当すると判断した場合、当社はバイヤー会員に事前に通知することなく、バイヤー会員が保有するクーポンの一部または全部を取消すことができます。<br>
                                （１）当社がクーポンを付与した後に、バイヤー会員が当該クーポンについて付与条件を充足していないことが明らかとなった場合<br>
                                （２）バイヤー会員に違法行為または不正行為があった場合<br>
                                （３）本規約、バイヤー会員規約、その他当社が定める規約またはルール等に違反があった場合<br>
                                （４）その他、当社がバイヤー会員に付与されたクーポンを取消すことが適当と判断した場合<br>

                                ２．バイヤー会員が、クーポンごとに定められる有効期間内に当該クーポンを利用しない場合、当該クーポンは自動的に消滅します。<br>

                                ３．当社は、取消されまたは消滅したクーポンについて、再発行、損害賠償、その他名目および方法を問わず、一切責任を負いません。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第５条　決済におけるクーポンの利用 </p>
                            <p>１．バイヤー会員は、保有するクーポンの内容に応じ、指定ウェブサイトにおける商品またはサービスの代金（送料、手数料および消費税を含みます。以下同じ）の全部または一部の支払い（以下「決済」といいます）において、当社所定の方法によりこれを利用することができます。<br>

                                ２．当社（サプライヤークーポンについては当社またはサプライヤー店舗）は、前項のクーポン利用の対象となるサービスまたは商品等を制限し、またはクーポンの利用に条件を付す場合があります。<br>

                                ３．バイヤー会員は、クーポンを利用せずに決済を完了した場合、決済後に当社、サプライヤー店舗または当該取引の相手方に対してクーポンの利用を請求することはできません。<br>

                                ４．バイヤー会員は、クーポン利用の取り消しまたはクーポンを利用して決済した取引の取消しまたは変更を希望する場合には、当該取引の相手方との間で直接これを解決するものとします。当社は、クーポンの返還、再発行またはクーポン利用分の代金額の返金等を行いません。なお、クーポンの内容または利用条件として別途定めのある場合はこれに従うものとします。<br>

                                ５．クーポンを決済に利用するに際し、当該クーポンによって受けられる値引き、その他の利益の額が決済代金を上回る場合でも、会員は、当社、サプライヤー店舗又は当該取引の相手方に対して、当該クーポンと決済代金の差額の返金（現金、クーポン等の媒体を問いません）または追加での商品もしくはサービスの提供を請求することはできないものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第６条　クーポンを利用して購入した商品の事故について </p>
                            <p>クーポンを利用して購入した商品につき、その配送中または配送後の紛失、盗難、損害、破損及び配送の遅延等の事故について、当社は当該事故が当社の故意または重過失により生じた場合を除き一切責任を負わず、クーポンの返還等も行わないものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第７条　禁止事項及び確認事項 </p>
                            <p>１．バイヤー会員は、いかなる場合でもクーポンを換金することはできません。<br>

                                ２．クーポンの利用は、バイヤー会員本人が行うものとし、当該会員以外の第三者が行うことはできません。<br>
                                ３．当社は、クーポン利用時に入力されたユーザＩＤ及びパスワードが登録されたものと一致することを当社所定の方法により確認した場合には、バイヤー会員による利用とみなします。なお、この場合において、当該利用が第三者による不正使用であった場合でも、当社は使用されたクーポンを返還せず、またバイヤー会員に生じた損害について一切責任を負わないものとします。<br>

                                ４．クーポンの取得、利用、特典との交換等に伴い税金や付帯費用が発生する場合には、会員がこれを負担するものとします。<br>

                                ５．会員が会員の地位を喪失した場合には、当該会員が保有するクーポンはすべて失効し、クーポンを決済に利用する権利、特典との交換の権利、その他本サービスの利用に関する一切の権利を失うものとします。なお、当社は会員の地位喪失に伴う損害について何らの責任も負わず、会員は地位の喪失に伴い当社に対して何らの請求権も取得しないものとします。
                            </p>
                        </div>

                        <div class="ts-detail">
                            <p>第８条　免責 </p>
                            <p>１．当社は、通信回路やコンピュータなどの障害によるシステムの中断、遅延、中止、データの消失、クーポン利用に関する障害、データの不正アクセスにより生じた損害、その他本サービスに関してバイヤー会員に生じた損害について、一切責任を負わないものとします。<br>

                                ２．サプライヤークーポンはサプライヤー店舗により発行されるクーポンであり、当社はその内容及びその履行について関知せず、サプライヤークーポンの利用またはサプライヤークーポンを利用できないことによりバイヤー会員に生じた損害につき、当社は一切責任を負わないものとします。 </p>
                        </div>

                        <div class="ts-detail">
                            <p>第９条　本サービスの変更について </p>
                            <p>１．当社は、会員に事前に通知することなく、本規約、ガイドライン等、本サービスの内容または本サービス提供の条件の変更（クーポンの廃止、利用停止、発行停止、クーポンの内容変更、指定ウェブサイトの変更等を含みますが、これに限られません）もしくは本サービスを終了または停止することがあり、バイヤー会員はこれをあらかじめ承諾するものとします。<br>

                                ２．当社は、前項の変更もしくは終了または停止によりバイヤー会員に不利益または損害が生じた場合でも、これらについて一切責任を負わないものとします。 </p>
                        </div>



                    </div>

                </div>

            </div>

        </div>

    </section>

</div>