.shipping-fee {
    margin: 20px;
}
label {
    margin: 0 5px;
}
#post_code {
    display: block;
    margin: 20px;
}
#post_code input {
    width: 100%;
}
#add_fee_area {
    margin: 0 0 0 20px;
}

#save_shipping_fee {
    margin-left: 20px;
}
table {
    text-align: center;
}
.error, .error2 {
    color: red;
    display: none;
    margin: 10px 20px;
}

.shipping-fee-area {
    border: 1px #d2d6de solid;
    padding: 20px 0;
    margin: 20px;
}

.i-n {
    width: 110px !important;
}