﻿@charset "UTF-8";

html, body{
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial;
	color:#222;
	font-size:12pt;
	line-height:20pt;
	text-align:center;
	margin:0;
	-webkit-text-size-adjust: none;
}

body a{
	color:#222;
	text-decoration:underline;
	cursor:pointer;
}

body a.strong{
	color:#F75610;
	font-weight: bold;
}

body b{
	color:#F75610;
}

/*body a:hover{*/
	/*color:#FC0;*/
	/*text-decoration:underline;*/
/*}*/

img{
	display: inline;
	border:none;
	vertical-align:middle;
	margin:0;
	padding:0;
}

form{
	margin:0;
}

em{
	color:#AAA;
	font-style:italic;
}

p{
	margin:7px 5px;
}

h1{
	font-size:15pt;
	line-height:18pt;
	font-weight:bold;
	margin:0 0 15px;
	padding:5px 0 3px 10px;
	border-left :5px solid #F75610;
}

#item_title_ja{
	font-size:10pt;
	line-height:15pt;
	min-height: 15pt;
	color:#AAA;
	font-weight:normal;
	margin: -10px 0 15px;
}

#item_title_ja a{
	color:#AAA;
}


h2{
	color:#FFF;
	text-align:left;
	font-size:10pt;
	line-height:20px;
	height:20px;
	font-weight:bold;
	background-color:#69F;
	padding:5px 8px;
	margin:15px 0 10px;
}

h2.fc{
	margin:0 0 10px;
}

.h2_wrap{
	position:relative;
}

.h2_button{
	position:absolute;
	right:4px;
	top:4px;
}

.h2_button .button, .h2_button input{
	vertical-align: top;
}

.h2_update{
	position:absolute;
	right:6px;
	top:6px;
	font-size: 10pt;
	line-height: 18px;
	height: 18px;
	padding:0 8px;
	font-weight:normal;
	border-radius: 9px;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
	color: #222;
	background-color: #FFF;
}

h3{
	font-size:10pt;
	line-height:15pt;
	background:url('../img/mrk_h3.gif') no-repeat left center;
	margin: 10px 0 7px;
	padding: 0 0 0 15px;
}

h3:first-child, h3.fc{
	margin:0 0 7px;
}

input[type="text"], input[type="password"],input[type="file"], select{
	padding:3px;
	font-size: 12pt;
	line-height: 12pt;
	vertical-align: middle;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-appearance: none;
	background-color: #FFF;
}
.paginator{
	text-align: center;
	display: block;
	margin-top: 20px;
}
.paginator li {
	list-style: none;
	margin: 0 4px;
	display: inline-block;
}
.paginator li a, .paginator li span{
	display: block;
	border: 1px solid #CCC;
	padding: 4px 12px;
}
.paginator li a{
	color: #222;
}
.paginator li span {
	font-weight: bold;
	font-size: 10pt;
	display: inline-block;
	background-color: #666;
	border: 1px solid #666;
	color: #FFF;
}
textarea{
	font-size: 12pt;
	line-height: 15pt;
	padding: 5px;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

textarea:focus, input:focus{
    outline: 0;
}

input[type="button"], input[type="submit"]{
	cursor: pointer;
	font-size: 12pt;
	line-height: 20px;
	color: #fff;
	padding: 5px 10px;
	background: #666;
	background: -moz-linear-gradient(
		top,
		#666 0%,
		#222);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#666),
		to(#222));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #222;
	margin: 0;
    -webkit-appearance: none;
}

input[type="button"].s, input[type="submit"].s{
	font-size: 10pt;
	line-height: 14px;
	padding: 2px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0;
}

input[type="button"]:hover, input[type="submit"]:hover{
	background: #222;
}

input[type="button"]:disabled, input[type="submit"]:disabled{
	background: #CCC;
	border: 2px solid #CCC;
	cursor:default;
}

.button{
	font-size: 12pt;
	line-height: 20px;
	color: #fff;
	padding: 5px 10px;
	background: #666;
	background: -moz-linear-gradient(
		top,
		#666 0%,
		#222);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#666),
		to(#222));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #222;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}

.button.s{
	font-size: 10pt;
	line-height: 14px;
	padding: 2px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.button.xs{
	font-size: 8pt;
	line-height: 14px;
	padding: 0 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.button:hover{
	color: #FFF;
	text-decoration: none;
	background-color: #222;
}

.button.d, .button.d:hover{
	background: #CCC;
	border: 2px solid #CCC;
	text-decoration: none;
	cursor:default;
}

@-webkit-keyframes pulse {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.7;
	}
}

input[type="button"].hl, input[type="submit"].hl, .button.hl, .button.hl:hover{
	border: 2px solid #390;
	background: #390;
	background: -moz-linear-gradient(
		top,
		#6c3 0%,
		#390);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#6c3),
		to(#390));	
	font-weight: bold;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 0s;
}

input[type="radio"], input[type="checkbox"]{
	display: inline;
	vertical-align:middle;
}

#container{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
}

#pp_container{
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 5px;
	text-align: left;
}

#top_wrap{
	width: 100%;
	background-color: #FFF;
	text-align: center;
	z-index: 2;
}

#top{
	width: 1084px;
	font-size: 8pt;
	line-height: 25px;
	margin: 0px auto;
	text-align: left;
	position: relative;
}

#top .current-user {
	float: right;
}

#top .current-user li {
	display: inline-block;
	margin: 15px 0 0 15px;
}
#top .current-user li b {
	color: #333;
}

#top .current-user li a {
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 7px;
}

#top.ssl{
	width: 774px;
}

#top_menu{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10pt;
	line-height: 25px;
	text-align: right;
	font-weight: bold;
	list-style: none;
	padding: 0;
	margin: 0;
}

.top_loginas{
	font-size: 10pt;
	line-height: 25px;
	font-weight: bold;
	float: right;
	margin-right: 5px;
}

#top_menu>li{
	float: right;
	position: relative;
	margin: 0 0 3px 5px;
}

.top_button{
	font-size: 8pt;
	line-height: 16px;
	/*height: 16px;*/
	display: block;
	font-weight: bold;
	padding: 2px 5px 3px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	text-decoration: none;
	background-color: #EFEFEF;
	text-indent: 2px;
	letter-spacing: 2px;
}

.top_button:hover, #top_menu li ul li a:hover{
	color: #222;
	background-color: #CCC;
	text-decoration: none;
}

#header{
	width:1084px;
	height:60px;
	margin:0 auto;
	text-align:left;
	position:relative;
}

#header.ssl{
	width:774px;
}

#header_logo{
	position:absolute;
	left:0;
	top:3px;
}

#header_logo img{
	width: 62px;
	height: 62px;
}


#header_share{
	position:absolute;
	right:101px;
	top:2px;
	width:116px;
	height: 20px;
	text-align:right;
	z-index: 100;
}

#hd_src_wrapper{
	position: absolute;
	left: 67px;
	top: 6px;
}

#hd_src_wrapper.cp_search{
	left: 210px;
	top: 15px;
}

#hd_src{
	background-color:#F75610;
	padding: 3px;
	border-bottom-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
}

.hd_src_catdiv{
	display: none;
}

.hd_src_row, #hd_src_site, #hd_src_category, .hd_src_pardiv, .hd_src_catdiv.shown, #hd_src_keyword, #hd_src_btn{
	display: inline-block;
	vertical-align:	bottom;
}

.hd_src_catdiv.fc.shown{
	display: none;
}

#hd_src_category.sellerurl{
	display: none;
}

#hd_src_keyword{
	position: relative;
}

#hd_src_keyword input[type='text']{
	font-size: 10pt;
	line-height: 24px;
	height: 34px;
	padding: 5px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	/*border-right: 3px solid #F75610;*/
}

.hd_src_category_each{
	display: none;
	text-align: left;
}

.hd_src_category_each.shown{
	display: inline-block;
}

.hd_src_pardiv select, .hd_src_catdiv select{
	width:150px;
	height: 34px;
	font-size: 10pt;
	line-height: 28px;
	background-color: #FFF;
	/*border-top: none;*/
	/*border-left: none;*/
	/*border-bottom: none;*/
	/*border-right: 3px solid #F75610;*/
}

#hd_src select option{
	font-size: 10pt;
	line-height: 24px;
	padding: 5px;
}

#hd_src_lang{
	overflow:hidden;
	height:15px;
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:inside;
}

#hd_src_lang li{
	float:left;
	width:151px;
	margin-right:4px;
	text-align:center;
	background-color :#EFEFEF;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}

#hd_src_lang li.shown{
	background: #F75610;
	background: -moz-linear-gradient(
		top,
		#f89d44 0%,
		#f75510);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f89d44),
		to(#f75510));	
	border-top:1px solid #F75610;
	border-left:1px solid #F75610;
	border-right:1px solid #F75610;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}

#hd_src_lang li a{
	font-size:8pt;
	line-height:16px;
	margin-bottom:1px;
	text-decoration:none;
	vertical-align:top;
	display:block;
	text-indent: 1px;
	letter-spacing: 1px;
}

#hd_src_lang li a:hover{
	color:#333;
}

#hd_src_lang li.shown a{
	line-height:17px;
	color:#FFF;
	font-weight:bold;
	vertical-align:top;
}

#hd_src_lang li.shown a:hover{
	color:#FFF;
}

#src_keyword.cplong {
	width: 654px;
}

#src_keyword.long{
	width:740px;
}

#src_keyword.middle{
	width:510px;
}

#src_keyword.short{
	width:357px;
}

ul#src_history{
	position: absolute;
	left: -3px;
	top: 34px;
	margin:0;
	padding:0;
	list-style: none;
	display: none;
	border-left: 3px solid #F75610;
	border-right: 3px solid #F75610;
	border-bottom: 3px solid #F75610;
	z-index:1000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

ul#src_history li a{
	display: block;
	padding: 4px 6px;
	text-decoration: none;
	font-size: 10pt;
	line-height: 15pt;
	text-align: left;
}

ul#src_history li:nth-child(odd) a{
	background: #EEE;
}

ul#src_history li:nth-child(even) a{
	background: #FFF;
}

ul#src_history li a:hover{
	color: #222;
	background-color:#FF9;
}

#src_history.long{
	width:619px;
}

#src_history.middle{
	width:465px;
}

#src_history.short{
	width:311px;
}

#header_right_hidden{
	display: none;
}

#header_right{
	position: absolute;
	right: 0;
	top: 8px;
}

#inner{
	width: 1084px;
	text-align: left;
	margin: 0 auto;
}

#inner.ssl{
	width: 774px;
}

#side{
	width: 300px;
	float: right;
	display: inline;
}

#main{
	width: 774px;
	float: left;
	display: inline;
}

.menumark{
	width: 34px;
	height: 34px;
	background-image:url('../img/top/spr_menu.png');
	background-repeat:no-repeat;
	text-align: center;
	display: inline-block;
	vertical-align: bottom;
}

.menumark.about {
	background-position: 0 0;
}
.menumark.register {
	background-position: -34px 0;
}
.menumark.prohibited {
	background-position: -68px 0;
}
.menumark.login {
	background-position: -102px 0;
}
.menumark.addcart {
	background-position: -136px 0;
}
.menumark.addfavorite {
	background-position: -170px 0;
}
.menumark.taobaopage {
	background-position: -204px 0;
}

.menumark.cart {
	background-position: -238px 0;
}
.menumark.history {
	background-position: -272px 0;
}
.menumark.favorite {
	background-position: -306px 0;
}
.menumark.mypage {
	background-position: -340px 0;
}
.menumark.search {
	background-position: -374px 0;
}
.menumark.searchstart {
	background-position: -408px 0;
}
.menumark.mpprogress {
	background-position: -442px 0;
}
.menumark.mpcomplete {
	background-position: -476px 0;
}
.menumark.mpmessage {
	background-position: -510px 0;
}
.menumark.mpbalance {
	background-position: -544px 0;
}
.menumark.mpdelivery {
	background-position: -578px 0;
}
.menumark.mpinfo {
	background-position: -612px 0;
}
.menumark.mpfsitem {
	background-position: -646px 0;
}
.menumark.mpfsorder {
	background-position: -680px 0;
}
.menumark.mpfssetting {
	background-position: -714px 0;
}
.menumark.estimate {
	background-position: -748px 0;
}
.menumark.fulfillment {
	background-position: -782px 0;
}
.menumark.scroll {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-position: -816px 0;
}
.menumark.tool {
	background-position: -850px 0;
}

.searchmark{
	width:34px;
	height:34px;
	background-image:url(../img/spr_search.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}

.searchmark.taobao{background-position:0 0;cursor:default;margin-right: 3px;}
.searchmark.taobao.d{background-position:-34px 0;cursor:pointer}
.searchmark.alibaba{background-position:0 -34px;cursor:default;margin-right: 3px;}
.searchmark.alibaba.d{background-position:-34px -34px;cursor:pointer}

.sidebtn{
	display:block;
	height: 34px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 10px 0;
	border: 3px solid #f75510;
	background-color:#FFF;
	padding: 7px 5px;
	position: relative;
	font-weight: bold;
	text-decoration: none;
}

.sidebtn:hover{
	color: #222;
	text-decoration: none;
	background-color:#FF9;
}

.sidebtn .menumark{
	position: absolute;
	left: 5px; 
	top: 7px;
}

.sidebtn_label{
	margin-left: 40px;
}

.sidebtn_label_sub{
	font-size: 6pt;
	line-height: 14px;
	color: #F30;
}

.sidebtn_label_main{
	font-size: 15pt;
	line-height: 20px;
}

.searchbtn{
	display:inline-block;
	background: #F75610;
	background: -moz-linear-gradient(
		top,
		#f89d44 0%,
		#f75510);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f89d44),
		to(#f75510));	
	text-align: center;
	vertical-align: middle;
}

.searchbtn:hover{
	background: #f75510;
}

.headerbtn, .cartbtn{
	display:inline-block;
	border: 1px solid #CCC;
	position: relative;
	text-decoration: none;
	text-align: center;
}

.headerbtn{
	padding: 5px 20px;
	font-size: 16px;
	margin-left: 16px;
	vertical-align: bottom;
	color: #444;
	position: relative;
}

.headerbtn .num-cart {
	position: absolute;
	top: 1px;
	right: 6px;
	border-radius: 50%;
	border: 1px solid #ff7b71;
	padding: 0px 8px;
	background: #f75610;
	color: #fff;
	z-index: 88;
}

.headerbtn span:first-child{
	display: block;
	margin-bottom: 5px;
}

.cartbtn{
	height:34px;
	padding: 0 7px 0 2px;
}

.headerbtn:hover, .cartbtn:hover, #top .current-user li a:hover{
	color: rgb(247, 105, 16);
	text-decoration: none;
	border-radius: 3px;
	border-color:  #f9ee98;
	background: rgba(250,238,130,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(250,238,130,1) 0%, rgba(254,182,67,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,238,130,1)), color-stop(100%, rgba(254,182,67,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(250,238,130,1) 0%, rgba(254,182,67,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(250,238,130,1) 0%, rgba(254,182,67,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(250,238,130,1) 0%, rgba(254,182,67,1) 100%);
	background: radial-gradient(ellipse at center, rgba(250,238,130,1) 0%, rgba(254,182,67,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faee82', endColorstr='#feb643', GradientType=1 );
}

.cartbtn.d{
	background: #CCC;
	border: 1px solid #CCC;
	cursor: default;
}

.headerbtn .menulabel{
	font-size: 11px;
	line-height: 34px;
	font-weight: bold;
}

.cartbtn .menulabel{
	font-size: 10pt;
	line-height: 34px;
	font-weight: bold;
}

.cartbtn.progressbtn, .cartbtn.progressbtn:hover{
	border: 1px solid #CCC; 
	background: #e0e0e0 url(../img/bak_progressbtn.gif) no-repeat center center;
	cursor: wait;
}

.cartbtn_bubble{
	background-color:#390;
	color: #FFF;
	font-size: 6pt;
	line-height: 14px;
	display: block;
	position: absolute;
	top: -8px;
	right: 3px;
	padding: 0 7px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

#cartnum_wrap{
	position: relative;
}

#cartnum{
	font-size: 8pt;
	line-height: 16px;
	color: #FFF;
	background-color: #390;
	position: absolute;
	right: -4px;
	top: -4px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	display: block;
	height: 16px;
	min-width: 10px;
	text-align: center;
	padding: 0 3px;
	box-shadow: 0 0 3px #FFF;
	-moz-box-shadow: 0 0 3px #FFF;
	-webkit-box-shadow: 0 0 3px #FFF;
}

.section_side_head{
	height:25px;
	margin:10px auto 0;
	color:#FFF;
	font-size:10pt;
	line-height:25px;
	text-align:center;
	background-color : #36C;
	font-weight:bold;
	border-top:1px solid #36C;
	border-left:1px solid #36C;
	border-right:1px solid #36C;
	position:relative;
}

.section_side_head_button{
	position:absolute;
	right:8px;
	top:8px;
	width:9px;
	height:9px;
}

.section_side_body{
	margin:0 auto 10px;
	background-color:#FFF;
	border-bottom:solid 1px #36C;
	border-left:solid 1px #36C;
	border-right:solid 1px #36C;
	padding:7px;
	font-size:10pt;
	line-height:12pt;
	text-align:left;
}

.side_table{
	width:100%;
	border-collapse:collapse;
	margin:0;
	border:1px solid #36C;
}

.side_table th{
	text-align:right;
	padding:3px 2px;
	background-color:#EFEFEF;
	border:1px solid #36C;
	font-size:10pt;
	line-height:12pt;
}

.side_table th div{
	font-weight:normal;
	margin-top:2px;
	font-size:8pt;
	line-height:10pt;
}

.side_table td{
	text-align:left;
	border:1px solid #36C;
	padding:3px 2px;
	font-size:10pt;
	line-height:12pt;
}

.reference{
	max-height: 100px;
	overflow: auto;
	word-break:break-all;
}

.reportbox{
	font-size:12pt;
	line-height:20px;
	background-color:#ededfd;
	padding:10px;
}

.infobox{
	border:1px solid #CCC;
	padding:9px;
	word-break:break-all;
}

.sortbox{
	font-size:10pt;
	line-height:18pt;
	border:1px solid #CCC;
	background-color: #EFEFEF;
	padding:7px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

span.del{
	text-decoration: line-through;
}

span.del span{
	color: #AAA;
}

.large{
	font-weight:bold;
	font-size:12pt;
	line-height:15pt;
}

.statmark{
	font-size:8pt!important;
	line-height:10pt!important;
	padding:1px 8px;
	font-weight:bold;
	display:inline;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#FFF;
	vertical-align:middle;
	margin:0;
	white-space: nowrap;
}

.statmark_s{
	font-size: 8pt;
	line-height: 8pt;
	padding:0 5px;
	font-weight:bold;
	display:inline;
	border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
	color: #FFF;
	white-space: nowrap;
}

.bak_white{
	color:#333;
	border:1px solid #666;
	background-color:#FFF;
}
.bak_gray{background-color:#666;}
.bak_green{background-color:#390;}
.bak_darkgreen{background-color:#060;}
.bak_lightred{background-color:#F99;}
.bak_red{background-color:#F30;}
.bak_red a, .bak_red a:hover{
	color:#FFF;
	font-size:8pt;
	line-height:10pt;
	font-weight:bold;
	text-decoration:none;
}
.bak_yellow{background-color:#FC0;}
.bak_blue{background-color:#03C}
.bak_lightblue{background-color:#39C;}
.bak_lightgreen{background-color:#9C0;}

.clr_gray{color:#AAA;}
.clr_green{color:#390;}
.clr_red{color:#F30;}
.clr_lightred{color:#F99;}
.clr_yellow{color:#FC0;}
.clr_blue{color:#03C}
.clr_lightblue{color:#39C;}
.clr_lightgreen{color:#9C0;}

.mark{
	width:16px;
	height:16px;
	display:inline-block;
	background-image:url('../img/spr_mark.png');
	background-repeat:no-repeat;
	vertical-align:middle;
	position: relative;
}
.mark.d{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%) alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	cursor: default;
}

.mark.tip{background-position:0 0;}
.mark.detail{background-position:-16px 0;}
.mark.edit{background-position:-32px 0;}
.mark.lock{background-position:-48px 0;}
.mark.delete{background-position:-64px 0;}
.mark.notice{background-position:-80px 0;}
.mark.pencil{background-position:-96px 0;}
.mark.check{background-position:-112px 0;}
.mark.undo{background-position:-128px 0;}
.mark.note{background-position:-144px 0;}
.mark.request{background-position:-160px 0;}
.mark.yflag{background-position:-176px 0;}
.mark.bflag{background-position:-192px 0;}
.mark.link{background-position:-208px 0;}
.mark.addfavorite{background-position:-224px 0;}
.mark.switch{background-position:-240px 0;}
.mark.taobao{background-position:-256px 0;}
.mark.alibaba{background-position:-272px 0;}
.mark.aliwanwan{background-position:-288px 0;}
.mark.arrowleft{background-position:-304px 0;}
.mark.equal{background-position:-320px 0;}
.mark.attachment{background-position:-336px 0;}
.mark.subcategory{background-position:-352px 0;}
.mark.move{background-position:-368px 0}
.mark.vmove{background-position:-384px 0}

.flag{
	width:16px;
	height:11px;
	display:inline-block;
	background-image:url('../img/spr_flag.png');
	background-repeat:no-repeat;
	vertical-align:middle;
}

.flag.usd{background-position:0 0;}
.flag.eur{background-position:-16px 0;}
.flag.rmb{background-position:-32px 0;}
.flag.jpy{background-position:-48px 0;}

.memlevel{
	width:16px;
	height:16px;
	display:inline-block;
	background-image:url('../img/spr_memlevel.png');
	background-repeat:no-repeat;
	vertical-align:middle;
}

.memlevel.bronze{background-position:0 0;}
.memlevel.silver{background-position:0 -16px;}
.memlevel.gold{background-position:0 -32px;}
.memlevel.platinum{background-position:0 -48px;}


.bubble_wrap{
	position: absolute;
	right: 0px;
	bottom: 16px;
}

.bubble_wrap.high{
	bottom: 34px;
}

.bubble{
	color:#FFF;
	font-weight: bold;
	font-size: 8pt;
	line-height: 12pt;
	width: 130px;
	z-index:20;
	background-color: #390;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3px 5px;
	text-align:center;
	position: absolute;
	right: -3px;
	bottom: 6px;
}

.bubble:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
	bottom:-5px;
	right:7px;
	border-top:5px solid #390;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
}

.bubble.d{
	background-color: #CCC;
}

.bubble.d:after{
	border-top:5px solid #CCC;
}

.bubble.x{
	background-color: #F30;
}

.bubble.x:after{
	border-top:5px solid #F30;
}

.bubble.i{
	background-color: #FC0;
}

.bubble.i:after{
	border-top:5px solid #FC0;
}

.site_btn_w{
	width: 378px;
	position: relative;
}

.site_btn{
	border: 1px solid #CCC;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: block;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

a.site_btn:hover{
	color: #222;
	background-color: #FF9;
	text-decoration: none;
}

.site_btn.shown{
	border: 3px solid #F75610;
	padding: 3px;
	text-align: center;
}

.site_btn.shown:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
	left:184px;
	bottom:-5px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #F75610;
}

.side_menu{
	background :url("../img/mrk_boxarrow.gif") no-repeat 3px center;
	padding:0 7px 0 19px;
	text-align:left;
}

.side_menu a{
	font-size:11pt;
	line-height:20pt;
	white-space:nowrap;
}

.side_menu.shown a, .side_menu.shown a:hover{
	font-size:11pt;
	line-height:20pt;
	color:#F75610;
	text-decoration:none;
	font-weight:bold;
}

.mp_menu_wrap{
	margin: -2px;
	text-align: center;
}

.mp_menu{
	display: inline-block;
	width: 32%;
	border: 2px solid #F75610;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin: 2px;
	text-align: center;
}

.mp_menu a{
	font-size: 12pt;
	line-height: 34px;
	display: block;
	padding: 3px;
	text-decoration: none;
	background-color:#FFF;
}

.mp_menu a .menumark{
	margin-right: 5px;
}

.mp_menu a:hover{
	color: #222;
	text-decoration: none;
	background-color:#FF9;
}

#inputlength{
	text-align:right;
}

section, .section{
	background-color: #FFF;
	margin: 10px 0;
	border: 1px solid #CCC;
	position: relative; 
	text-align: left;
	padding: 9px;
	zoom: 1;
}

#breadnavi{
	text-align:left;
	font-size:10pt;
	line-height: 15pt;
	padding: 5px;
	margin:10px 0;
	color:#FFF;
	background :#F75610;
	position: relative;
}

#breadnavi_right{
	position: absolute;
	top: 0;
	right: 5px;
	color: #FFF;
	font-size:10pt;
	line-height:25px;
}

#breadnavi a, #breadnavi span, #breadnavi b, #breadnavi_right a{
	color:#FFF;
	text-transform: uppercase
}

#suggest{
	font-size:10pt;
	line-height:15pt;
	margin-bottom:10px;
	padding:3px 5px;
	background:#EEE;
}

#src_category{
	padding: 5px;
	border: 3px solid #F75610;
}

#textsugget_wrap{
	position: relative;
}

#textsuggest{
	position: absolute;
	left: 0;
	top: 31px;
	border-left: 3px solid #F75610;
	border-right: 3px solid #F75610;
	border-bottom: 3px solid #F75610;
	background-color: white;
	padding: 0;
	margin: 0;
	z-index: 10000;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	overflow-y: auto;
	max-height: 302px;
}

#textsuggest>div:nth-child(odd){
	background-color: #EEE;
}

#textsuggest>div:nth-child(even){
	background-color: #FFF;
}

#textsuggest a, #textsuggest em, #textsuggest b{
	font-size: 12pt;
	line-height: 26px;
	padding: 2px 4px;
	text-align: left;
	display: block;
	text-decoration: none;
	font-style:normal;
}

#textsugget_wrap a:hover{
	color: #222;
	background-color: #FFC;
	text-decoration: none;
}


.suggest{
	position: absolute;
	border: 1px solid #999;
	background-color: white;
	padding: 0;
	margin: 0;
	z-index: 10000;
	text-align: center;
	min-height: 16px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.suggest a, .suggest em{
	font-size: 8pt;
	line-height: 16px;
	height: 16px;
	padding: 2px 4px;
	text-align: left;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	font-style:normal;
}

.suggest a:hover{
	color: #222;
	background-color:#FF9;
	text-decoration: none;
}

#footer{
	border-top:1px solid #F75610;
	width:1084px;
	margin:0 auto 5px;
	padding: 10px 0 0;
	margin-top: 15px;
}

#footer .info_footer {
	text-align: left;
}

#footer .info_footer .if_title{
	font-size: 20px;
	margin: 20px 0;
}
#footer .info_footer .if_detail {
	text-align: justify;
}

#footer .menu_footer {
	margin-top: 25px;
}
#footer .menu_footer ul {
	border: 1px solid;
	padding: 5px 0;
}

#footer .menu_footer ul li{
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #888;
	margin: 5px 0;
}

#footer .menu_footer ul li:last-child {
	border-right: none;
}

#footer .menu_footer ul li a, #footer .menu_footer ul li a:active, #footer .menu_footer ul li a:focus {
	font-weight: bold;
	text-decoration: none;
}
#footer .menu_footer ul li a:hover{
	color: #0099e8;
	text-decoration: none
}


#footer.ssl{
	width:774px;
	padding: 0;
}

#footer_exrate{
	float: left;
	width: 260px;
	padding: 13px 0;
	background-color: #EEE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#footer_navi {
	float: right;
	width: 800px;
	padding: 0;
	margin: 0 1px 10px;
}

#footer_navi dl {
	float:left;
	width:200px;
	margin: 0;
	padding: 0;
}

#footer_navi dl dt {
	text-align: left;
	font-size: 10pt;
	line-height: 12pt;
	font-weight:bold;
	margin: 2px 0 5px;
	color: #AAA;
}

#footer_navi dl dd {
	margin: 0;
	padding: 0;
}

#footer_navi dl dd ul{
	margin: 0;
	padding: 0;
	list-style-type:none;
	list-style-position:inside;
}

#footer_navi dl dd ul li{
	text-align: left;
	margin: 5px 0;
	padding: 0;
	font-size: 10pt;
	line-height: 12pt;
}

#footer_navi dl dd ul li a{
	background: url('../img/bak_submenu.png') no-repeat left center;
	padding-left: 10px;
	font-size: 10pt;
	line-height: 12pt;
}

#footer_copyright {
	margin: 8px;
}

#footer_copyright, #footer_copyright a, #footer_copyright a:hover {
	font-size: 8pt;
	line-height: 8pt;
	text-decoration: none;
}

.clear{
	clear:both;
	font-size:0;
	line-height:0;
	height:0;
	padding:0;
	margin:0;
}

.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix{
  min-height: 1px;
}

* html .clearfix{
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}
#breadnavi>span {
	margin-right: 10px;
}

.clearlh{
	line-height: 0!important;
}

.nowrap{
	white-space: nowrap;
}

.advert{
	margin: 10px auto;
	text-align: center;
}

.nopointer{
	cursor: default;
}

.bold{
	font-weight: bold;
}

.small{
	font-size:10pt;
}

.small_lh{line-height:13pt;}

.xsmall{
	font-size:8pt;
}

.normal{
	font-size:12pt;
}

.gray{
	color: #AAA;
}

.cent{
	text-align:center!important;
}

.btngap{
	margin-left: -2px!important;
	margin-right: -2px!important;
}

.btngap input, .btngap .button{
	margin: 2px!important;
}

.hblock{
	display: inline-block;
	padding: 0;
	vertical-align: top;
	margin: 5px;
}

.tool_left{
	float:left;
	width:555px;
	min-height: 81px;
}

.tool_right{
	float:right;
	width:170px;
}

.bookmarklet{
	width: 170px;
	height: 97px;
	font-size: 12pt;
	line-height: 97px;
	text-align: center;
	color: #FFF;
	background-color: #086385;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
}

.bookmarklet:hover{
	color: #FFF;
	background-color: #69C;
	text-decoration: none;
}
.manager-order{
	padding: 0;
	margin: 20px 0 !important;
}

.slide_wrap {
	position: relative;
	overflow: hidden;
}

.righttop{
	position: absolute;
	right: 8px;
	top: 8px;
}

.righttop2{
	position: absolute;
	right: 5px;
	top: 5px;
}

.lfloat{float: left;display: inline}
.rfloat{float: right;display: inline}
.lalign{text-align: left!important}
.ralign{text-align: right!important}

.arrowbutton{background:url('../img/mrk_boxarrow.gif') no-repeat left center;padding-left:15px;font-size:10pt;line-height:10pt;}

.downarrow{
	margin: 10px auto;
	width:0;height:0;
	border-top:10px solid #666;
	border-right:10px solid transparent;
	border-left:10px solid transparent
}

#news dl{
	padding:0;
	margin:0;
}

#news dl dt{
	float:left;
	clear:left;
	width:9em;
	color:#AAA;
	font-weight:bold;
	text-align:right;
}

#news dl dd{
	margin:0 0 0 9.5em;
	text-align:left;
}

.subcat{
	padding:3px 8px;
	font-size:10pt;
	line-height:20pt;
	border:1px solid #CCC;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #EEE;
}

.subcat a{
	font-size:10pt;
	line-height:20pt;
	text-decoration: none;
}

.divider{
	margin-left: 6px;
}

.divider:before{
	content:'';
	height: 14px;
	width: 1px;
	vertical-align: middle;
	display: inline-block;
	border-left: 1px dotted #666;
	margin-right: 6px;
}

.sellerscore{
	width:16px;
	height:16px;
	display:inline-block;
	background-image:url('../img/spr_sellerscore.png');
	background-repeat:no-repeat;
	vertical-align:middle;
	margin: 0 2px;
}

.sellerscore.lvl1{
	background-position:0 0;
}

.sellerscore.lvl2{
	background-position:0 -16px;
}

.sellerscore.lvl3{
	background-position:0 -32px;
}

.sellerscore.lvl4{
	background-position:0 -48px;
}

.idx_cat{
	margin-bottom:0;
}

.idx_cat a{
	font-size:10pt;
	line-height:15pt;
}

.idx_cat img.divider{
	margin:0 5px;
}

.arrow{width:10px;height:10px;background-image:url('../img/spr_arrow.png');background-repeat:no-repeat;display:inline-block;}
.arrow.left{background-position:0 0;}
.arrow.left.d{background-position:0 -10px;cursor:default}
.arrow.right{background-position:-10px 0;}
.arrow.right.d{background-position:-10px -10px;cursor:default}
.arrow.up{background-position:-20px 0;}
.arrow.up.d{background-position:-20px -10px;cursor:default}
.arrow.down{background-position:-30px 0;}
.arrow.down.d{background-position:-30px -10px;cursor:default}

.boxmark_left, .boxmark_right, .boxmark_plus, .boxmark_minus{
	width:9px;
	height:9px;
	background-image:url('../img/spr_boxmark.gif');
	background-repeat:no-repeat;
	display:inline-block;
}

.boxmark_left{
	background-position:0 -9px;
}

.boxmark_right{
	background-position:0 0;
}

.boxmark_plus{
	background-position:-9px 0;
}

.boxmark_minus{
	background-position:-9px -9px;
}

#item_desc_head{
	font-size:12pt;
	line-height:20px;
	height:20px;
	padding:6px 0 6px 10px;
	margin-top:10px;
	position:relative;
	font-weight:bold;
	color:#fff;
	background-color : #666;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #666;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}

#item_desc_body{
	border-bottom:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #666;
	height:640px;
}

#item_desc_body iframe{
	width:100%;
	height:640px;
	border: none;
	overflow: hidden;
}

#item_desc_wrapper{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 39px 0 0;
}

#item_desc_inner{
	text-align: left;
	height:580px;
	padding: 10px;
	overflow-x:hidden;
	overflow-y:auto;
	position: relative;
}

#item_desc_inner *{
	font-size:12pt!important;
	line-height:18pt!important;
}

#item_desc_inner img{
	display: block;
	margin: 0;
}

#item_desc_inner br{
	display: block;
	content: "";
}

#google_translate_element{
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 30;
}

.goog-te-banner-frame{
	overflow: hidden;
	height: 40px;
}

.item_wrap{
	position:relative;
}

.item_delete{
	position:absolute;
	right:3px;
	bottom:3px;
	z-index: 15;
}

ul.item_sku_tab{
	overflow:hidden;
	height:22px;
	margin:15px 0 0;
	padding:0;
	list-style-type:none;
	list-style-position:inside;
	background:url('../img/bak_tabmenu.gif') repeat-x center bottom;
}

ul.item_sku_tab li{
	font-size:8pt;
	line-height:18px;
	height:18px;
	padding: 2px 0 0;
	margin:0;
	width: 49%;
	border:1px solid #666;
	background-color:#D1D1D1;
	text-align:center;
    border-top-left-radius: 3px;
	border-top-right-radius: 3px;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;

}

ul.item_sku_tab li#item_sku_tab_order{
	float:left;
}

ul.item_sku_tab li#item_sku_tab_contact{
	float:right;
}

ul.item_sku_tab li.shown{
	background-color:#F7F7F7;
	border-bottom:1px solid #F7F7F7;
}

ul.item_sku_tab li a{
	display:block;
	font-size: 8pt;
	line-height:20px;
	text-decoration:none;
}

ul.item_sku_tab li.shown a{
	font-weight:bold;
}

ul.item_sku_tab li a:hover{
	color: #222;
}

.item_sku_wrap{
	border-left:1px solid #666;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	background-color:#F7F7F7;
	padding:14px 9px 9px;
	position:relative;
}

div.item_sku_each{
	float:left;
	max-width: 340px;
	min-width:40px;
	line-height: 12pt;
	margin-right:3px;
	margin-bottom:3px;
	border:1px solid #999;
	background-color:#FFF;
	padding:3px;
	text-align:center;
	cursor:pointer;
}

div.item_sku_each:hover{
	border:1px solid #777;
	background-color:#FFA;
}

div.item_sku_each.disabled, div.item_sku_each.disabled:hover{
	color: #CCC;
	border:1px solid #CCC;
	background-color: #FFF;
	cursor: default
}

div.item_sku_each.shown{
	border:2px solid #F75610;
	padding:2px
}

.item_sku_each .original{
	font-size:10pt;
	line-height:10pt;
}

.item_sku_each .translate{
	font-size:8pt;
	line-height:8pt;
	margin-top:3px;
	color:#AAA;
}

.item_sku_each.disabled .translate{color:#CCC}

#cartadd_result{
	position:absolute;
	width:275px;
	bottom:52px;
	right:10px;
	z-index:10;
	display:none;
}

.selbox{font-size:12pt;line-height:18pt;border:1px solid #999;padding:9px;margin:0 0 10px;cursor:pointer}
.selbox:hover{border:1px solid #777;background-color:#FF9}
.selbox.shown{border:2px solid #F75610;padding:8px}

.selbox.left{width:352px;float:left;display:inline;text-align:left;margin:0}
.selbox.right{width:352px;float:right;display:inline;text-align:left;margin:0}

.selbox.d{
	border: 1px solid #CCC;
	color:#CCC;
	cursor:default;
}

.selbox.d:hover{
	border:1px solid #CCC;
	background-color:#FFF;
}

.capt{width:280px;margin:0 auto;border:1px solid #CCC}
.capt_left{float:left;display:inline;width:100px;text-align:right;padding:10px 0 10px 10px}
.capt_right{font-size:10pt;line-height:12pt;float:right;display:inline;width:150px;text-align:left;padding:10px 10px 10px 0}

ul.sortmenu{
	overflow:hidden;
	height:28px;
	padding:0;
	margin:0 0 10px;
	list-style-type:none;
	list-style-position:inside;
	float: right;
}

ul.sortmenu li{
	float:left;
	font-size:10pt;
	line-height:25px;
	height:25px;
	margin:0;
	text-align:center;
	padding:0 3px;
	border-bottom:3px solid #FFF;
}

ul.sortmenu li.shown{
	border-bottom:3px solid #F75610;
	text-align:center;
}

ul.sortmenu li a{
	font-size:10pt;
	line-height:25px;
	height:25px;
	text-decoration:none;
}

.tabmenu {
	height: 25px;
	margin: 0 0 15px;
	padding: 0 2px;
	list-style-type: none;
	list-style-position:inside;
	border-bottom:1px solid #999;
}

.tabmenu li {
	float: left;
	font-size: 10pt;
	line-height: 24px;
	height: 24px;
	margin: 0 2px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background-color:#DDD;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.tabmenu.right li {
	float: right;
}

.tabmenu li:hover {
	background-color:#EEE;
}

.tabmenu li.shown, .tabmenu li.shown:hover {
	background-color: #FFF;
}

.tabmenu li a {
	display: block;
	font-size: 10pt;
	line-height: 24px;
	padding: 0 8px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-decoration: none;
}

.tabmenu li.shown a {
	cursor: default;
	padding-bottom: 2px;
	background-color: #FFF;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}

.tabmenu li a:hover {
	color: #222;
	text-decoration: none;
}



.tabmenu_other{
	position: relative;
}

.tabmenu_other_wrap{
	display: none;
	position: absolute;
	right: -1px;
	top: 24px;
	z-index: 1000;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 0;
}

.tabmenu_other_wrap:before {
	position: absolute;
	left: 0;
	top: 0;
	content:"";
	display:block;
	height:0;
	width:49px;
	border-top: 1px solid #999;
}

.tabmenu_other_wrap:after {
	position: absolute;
	right: 0;
	top: 0;
	content:"";
	display:block;
	height:0;
	width:56px;
	border-top: 1px solid #EEE;
}

.tabmenu_other:hover .tabmenu_other_wrap{
	display: block;
}

.tabmenu_other_wrap li{
	float: none;
	display: block;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
	width: 105px;
}

.tabmenu_other_wrap li.shown a{
	padding-bottom: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
}

.narrow_wrap{
	background-color: #CCF;
	border: 1px solid #69C;
	padding: 3px 7px 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.narrow_right{
	float: right;
	width:66px;
	display: inline;
	margin-left:-66px;
	text-align: right;
}

.narrow_left{
	float: left;
	width:100%;
	display: inline;
}

.narrow_left_inner{
	position:relative;
	margin-right:70px;
	text-align: left;
}

.narrow_each{
	float: left;
	vertical-align: middle;
	white-space: nowrap;
	margin: 2px 10px 3px 0;
}

.narrow_label{
	font-size: 8pt;
	line-height: 24px;
	font-weight: bold;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

.narrow_value{
	position: relative;
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
}

.narrow_value_current{
	font-size: 10pt;
	line-height: 24px;
	background-color: #FFF;
	color: #222;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	padding: 0 8px;
	max-width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.narrow_options{
	display: none;
	position: absolute;
	font-size: 10pt;
	line-height: 15pt;
	top: 0;
	left: 0;
	min-width: 150px;
	background-color: #FFF;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding: 8px;
	z-index: 10;
	box-shadow: 0 0 3px #AAA; 
	-moz-box-shadow: 0 0 3px #AAA; 
	-webkit-box-shadow: 0 0 3px #AAA;
}

.narrow_options_title{
	display: none;
	position: relative;
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;
}

.narrow_options_close{
	position: absolute;
	top: 0;
	right: 0;
}

.narrow_options_inner{
	overflow: auto;
	max-height: 300px;
}

.narrow_wrap input[type="text"], .narrow_wrap select{
	padding:1px;
	font-size: 10pt;
	line-height: 12pt;
	vertical-align: middle;
	margin: 0;
}

.narrow_wrap input[type="checkbox"], .narrow_wrap input[type="radio"]{
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.narrow_options label{
	font-size: 10pt;
	line-height: 15pt;
	
}

.narrow_value:hover .narrow_options, .narrow_value.hover .narrow_options{
	display: block;
}

.ftr_wrap{
	text-align: center;
	margin: -4px;
}

.ftr_inner{
	margin: 0 auto;
}

.ftr_each{
	float: left;
	margin: 4px;
	border:1px solid #999;
	padding:2px;
	display:block;
	text-decoration:none;
	position: relative;
}

.ftr_each img{
	width: 240px;
	height: 142px;
}

.ftr_feature{
	font-size:8pt;
	line-height:10pt;
	font-weight:bold;
	color:#FFF;
	background-color:#f75610;
	padding:1px 3px 1px 6px;
	display:inline-block;
	letter-spacing:1px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin-bottom:5px;
	position:absolute;
	top: -8px;
	left: 5px;
	white-space:nowrap;
}

.ftr_name{
	position:absolute;
	left:3px;
	bottom:8px;
	padding:10px 8px 6px 6px;
	background: url("../img/bak_feature.png");
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	font-size:15pt;
	line-height:15pt;
	font-weight:bold;
	text-decoration:none;
	text-align: left;
}

.ftr_left{
	float: left;
	width:246px;
	display: inline;
	margin-right:-246px;
}

.ftr_img{
	 border:1px solid #999;
	 padding:2px;
	 display:block;
	 text-decoration:none;
	 position: relative;
 }

.ftr_img img{
	width: 240px;
	height: 142px;
}

.ftr_right{
	float: right;
	width:100%;
	display: inline;
}

.ftr_right_inner{
	position:relative;
	margin-left:260px;
	text-align: left;
}

.ftr_baloon{
	padding: 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	position: relative;
	word-break:break-all;
	background-color: #EEE;
	min-height: 128px;
}

.ftr_baloon_arrow{
	width:0;
	height:0;
	position:absolute;
	border-right:10px solid #EEE;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	left:-10px;
	top:68px;
}

.rank_wrap{
	text-align: center;
	margin: -4px 1px;
}

.rank_inner{
	margin: 0 auto;
}

.rank_each{
	float: left;
	margin: 4px;
	border:1px solid #999;
	padding:2px;
	display:block;
	text-decoration:none;
	position: relative;
}

.rank_each:hover{
	border:1px solid #333;
	background-color:#FFA;
	text-decoration:none;
}

.rank_price{
	text-align:center;
	margin-top:5px;
	font-size:8pt;
	line-height:10pt;
	color:#069;
}

.rank_price span{
	margin-right:3px;
	font-size:10pt;
	line-height:10pt;
}

.list_wrap{
	text-align: center;
	margin: -3px;
}

.list_wrap.draggable{
	overflow:auto;
	overflow-y: hidden !important;
}

.list_inner{
	margin: 0 auto;
}

.list_tcnt{
	float: left;
	display: inline;
}

.list_sort{
	float: right;
	display: inline;
}

.list_each{
	float: left;
	margin: 15px;
	border:1px solid #999;
	padding:2px;
	text-decoration:none;
	position: relative;
	width: 160px;
	background-color: #FFF;
	min-height: 220px;
}

.list_each:hover{
	border:1px solid #333;
	background-color:#FFA;
	text-decoration:none;
	z-index: 100;
}

.list_each a, .list_each a:hover{
	text-decoration:none;
}

.list_product {
	margin: 0 0 10px 0 !important;
}
.product_detail {
	padding: 0 5px !important;
}
.product_detail a:first-child {
	height: 179px;
	display: block;
	margin: 0 auto;
	position: relative;
	border: 1px solid #ccc;
}

.product_detail img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 179px;
}

.list_price{
	text-align:center;
	margin-top:5px;
	font-size:10pt;
	line-height:12pt;
	color:#069;
}

.list_price span{
	margin-right:3px;
	font-size:12pt;
	line-height:12pt;
}

.list_pricejp{
	text-align: left;
	margin-top: 5px;
	font-size: 10pt;
	line-height: 10pt;
	font-weight: bold;
	color: #ea352d;
}

.list_pricejp span{
	font-size: 11px;
	font-weight: 300;
	color: #333;
}

.list_product_name
{
	text-align: left;
	margin-top: 8px;
	font-size: 10pt;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	min-height: 58px;

}

.list_category
{
	text-align: left;
	margin-top: 5px;
	font-size: 10pt;
	line-height: 10pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list_cate {
	margin-top: 5px;
	font-weight: bold;
}

.list_cate a, .list_title a {
	color: #333;
	text-decoration: none ;
}

.list_cate a:hover, .list_title a:hover {
	color:#337ab7;
	text-decoration: none ;
}

.list_move{
	display: none;
	position: absolute;
	left: 5px;
	top: 5px;
	line-height: 16px;
}

.list_button{
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
	line-height: 16px;
}

.list_each:hover .list_move, .list_each:hover .list_button{
	display: block;
}

.folder_wrap{
	background-color: #FFF;
	margin-bottom: 10px;
}

.folder_wrap.fixed{
	position: fixed;
	top: 0;
	z-index: 1000;
	margin: 0 -10px;
}

.folder_wrap.fixed .list_wrap{
	padding: 7px 10px 4px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 0;
}

.folder_each{
	float: left;
	margin: 3px;
	border:1px solid #999;
	padding:2px;
	text-decoration:none;
	width: 140px;
	height: 26px;
	background-color: #EFEFEF;
	font-size: 10pt;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	position: relative;
}

.folder_each:hover{
	color: #222;
	background-color: #FFC;
	text-decoration:none;
}

.folder_each.shown{
	color: #FFF;
	font-weight: bold;
	padding:2px;
	border:1px solid #F75610;
	background-color: #F75610;
}

.folder_each.shown:hover{
	color: #FFF;
	background-color: #F75610;
}

.folder_button{
	display: none;
	position: absolute;
	right: 4px;
	top: 2px;
}

.folder_move{
	display: none;
	position: absolute;
	left: 4px;
	top: 2px;
}

#folder_new>a{
	text-decoration: none;
	display: block;
}

#folder_new>a:hover{
	color: #222;
	text-decoration: none;
}

.folder_each:hover .folder_button, .folder_each:hover .folder_move{
	display: block;
}

.folder_each.dropping{
	padding:0px;
	border:3px dotted #F75610;
}

.folder_each.dropped{
	padding:0px;
	border:3px solid #F75610;
}

.folder_each input[type='text']{
	font-size: 10pt;
	line-height: 12pt;
	padding: 0;
}

.imgframe{
	border:1px solid #999;
	padding:2px;
	display:block;
	text-decoration:none;
	position: relative;
	display: inline-block;
}

.imgframe_s{
	border:1px solid #999;
	padding: 2px;
	position: relative;
	display: inline-block;
	background-color: #FFF;
}

.selframe{
	border:1px solid #999;
	padding:2px;
	display: inline-block;
	margin: 2px;
}

.selframe.shown{
	border:2px solid #F75610;
	padding:1px;
}

.process{
	text-align:left;
	margin-bottom:5px;
}

.process div{
	display: inline-block;
	height:28px;
	font-size:10pt;
	line-height:28px;
	color:#FFF;
	font-weight:bold;
	background-color:#CCC;
	padding:0 7px 0 10px;
	margin: 0 10px 5px 0;
	position:relative;
}

.process div:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
	top:0;
	right:-8px;
	border-top:14px solid transparent;
	border-bottom:14px solid transparent;
	border-left:8px solid #CCC;
}

.process .shown{
	background-color:#390;
}

.process .shown:after{
	border-left:8px solid #390;
}

.process div:last-child{
	padding:0 10px;
}

.process div:last-child:after{
	border:none;
}

.stprocess{
	width: 754px;
	height:40px;
	margin-bottom:10px;
}

.stprocess div{
	float:left;
	display:inline;
	width:100px;
	height:30px;
	color:#FFF;
	font-size:12pt;
	line-height:15px;
	font-weight:bold;
	padding:5px 0;
	margin-right:9px;
	text-align:center;
	background-color:#CCC;
	position:relative;
}

.stprocess.fs div{
	width:144px;
}

.stprocess div:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
	top:0;
	right:-7px;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
	border-left:7px solid #CCC;
}

.stprocess div span{
	font-size:10pt;
	line-height:15px;
	display:block;
	font-weight:normal;
	margin-top:2px;
}

.stprocess div:last-child{
	width:100px;
	background:#CCC;
	margin-right:0;
}

.stprocess.fs div:last-child{
	width:142px;
}

.stprocess div.shown{
	background-color:#390;
}

.stprocess div.shown:after{
	border-left:7px solid #390;
}

.stprocess div:last-child:after{
	border:none;
}

.error{
	color:#F30;
	font-size:10pt;
	line-height:15pt;
	margin-top:5px;
}

.rbox{
	color: #222;
	font-size: 12pt;
	line-height: 15pt;
	padding: 9px 9px 9px 49px;
	text-align: left;
	border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

.rbox.i{
	border:2px solid #F90;
	background: #FFF url(../img/mrk_rbox_i.png) no-repeat 10px center;
}

.rbox.x{
	border:2px solid #F03;
	background: #FFF url(../img/mrk_rbox_x.png) no-repeat 10px center;
}

.rbox.v{
	border:2px solid #390;
	background: #FFF url(../img/mrk_rbox_v.png) no-repeat 10px center;
}

.list_table{
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
}

.list_table th{
	width:150px;
	font-size:10pt;
	line-height:15pt;
	text-align:right;
	padding:8px 15px 8px 0;
	background:url('../img/mrk_arrow.gif') no-repeat right center;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}

.list_table td{
	font-size:12pt;
	line-height:15pt;
	text-align:left;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:8px 0 8px 8px;
}

.list_table td.ctrl{
	width:40px;
	text-align:center;
}

.list_table td.ctrl img{
	margin:0 2px;
}

.add_table{
	width:100%;
	border-collapse:collapse;
	border:1px solid #CCC;
	table-layout:fixed;
}

.add_table th{
	font-size: 10pt;
	line-height: 12pt;
	text-align:right;
	padding:5px;
	background:#EEE;
	border:1px solid #CCC;
}

.add_table td{
	text-align:left;
	background-color:#FFF;
	border:1px solid #CCC;
	padding:5px;
	word-break:break-all;
}

.add_table td.main{
	border-right:1px solid #FFF;
}

.add_table td.ctrl{
	width: 16px;
	border-left:1px solid #FFF;
}

.add_table.withtip tr td:nth-child(2){
	border-right: 1px solid #FFF;
}

.add_table.withtip tr td:nth-child(3){
	width: 21px;
	padding:5px 5px 5px 0;
	border-left: 1px solid #FFF;
}

.add_table.c td{
	text-align:center;
}

.add_table th.breakout{
	text-align: center;
	background:#AAA;
	color:#FFF;
	font-size:8pt;
	line-height:8pt;
	letter-spacing:5px;
}

.hidden_table{
	border-collapse:collapse;
	border-spacing: 0;
	table-layout:fixed;
	width: 100%;
}

.hidden_table th{
	padding: 2px;
	border: none!important;
	background-color: transparent!important;
	text-align: right!important;
}

.hidden_table td{
	padding: 2px;
	border: none!important;
	background-color: transparent!important;
	text-align: left!important;
}

.sku_table th{
	font-size: 10pt;
	width: 50px;
	vertical-align: middle;
	padding-right: 5px;
}

.sku_table td{
	padding: 4px 2px;
}

.break_colspan th{
	width:15%;
}

.th15 th{
	width: 15%;
}

.th25 th{
	width: 25%;
}

.th30 th{
	width: 30%;
}

.subdesc{
	font-size:10pt;
	line-height:15pt;
	color:#AAA;
}

.subdesc a, .subdesc a:hover{
	color:#AAA;
}

.move, .vmove{
	cursor:move;
}
.notfound{
	color:#AAA;
	text-align:center;
	padding:150px 0;
}

.notfound2{
	color:#AAA;
	text-align:center;
	padding: 30px 0;
}

.notfound a, .notfound a:hover, .notfound2 a, .notfound2 a:hover{
	color:#AAA;
}

#maintenance{
	color:#FFF;
	font-size:10pt;
	line-height:12pt;
	padding:8px 5px;
	background-color:#390;
	text-align:center;
	font-weight:bold;
}

.result{
	color:#FFF;
	font-size:10pt;
	line-height:12pt;
	padding:5px;
	background-color:#390;
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}

.progress{
	font-size:10pt;
	line-height:12pt;
	padding:5px;
	background-color:#EFEFEF;
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}

.noresult{
	color:#FFF;
	font-size:10pt;
	line-height:12pt;
	padding:5px 0;
	background-color:#F30;
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}

.pending{
	color:#FFF;
	font-size:10pt;
	line-height:12pt;
	padding:5px 0;
	background-color:#FC0;
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}

.result a,.result a:hover,.noresult a,.noresult a:hover,.pending a,.pending a:hover{
	color:#FFF;
}

.smartphone{
	display: none;
}

.stripe_table{
	width:100%;
	border-collapse:collapse;
	border:1px solid #CCC;
}

.stripe_table tr.line{
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.stripe_table>tbody>tr:nth-child(odd), .stripe_table tr.oddrow{
	background-color: #EEE;
}

.stripe_table>tbody>tr:nth-child(even), .stripe_table tr.evenrow{
	background-color: #FFF;
}

.stripe_table tr.breakrow td{
	background-color:#AAA;
	color: #FFF;
	font-size: 8pt;
	font-weight: bold;
	line-height: 8pt;
	letter-spacing: 5px;
	text-indent: 5px;
}

.stripe_table th{
	font-weight:bold;
	text-align:center;
	padding:5px 3px;
	border-bottom:2px solid #666;
	background-color:#DDD;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	font-size:8pt;
	line-height:12pt;
}

.stripe_table td{
	text-align:center;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	padding:5px 3px;
	font-size:10pt;
	line-height:12pt;
	word-wrap: break-word;
	word-break:break-all;
}

.stripe_table td.nrb{
	border-right:1px solid transparent;
	padding-right: 0;
}

.stripe_table td.dn, .stripe_table th.dn{
	display: none;
}

.stripe_table td.optional,.stripe_table th.optional{display:none}

.stripe_table tr.ttl{
	border-top:2px solid #666;
	font-weight:bold;
}

.stripe_table select, .stripe_table input[type='text']{
	font-size: 10pt;
	line-height: 12pt;
	padding: 0;
}

.stripe_table td input[type="button"]{
	font-size: 9pt;
	line-height: 14px;
	padding: 2px;
	margin: 0 1px;
}

tr.hl, tr.hl th, tr.hl td{
	background-color:#FF9!important;
}

tr.pin, tr.pin th, tr.pin td, td.pin{
	background-color:#FCC!important;
}

tr.d, tr.d th, tr.d td{
	background-color:#AAA!important;
}

td.vl{
	background-color:#CFC!important;
}

.expand{
	overflow: hidden;
	position: relative;
}

.expand.active{
	padding-bottom: 25px;
}

.expand.shown{
	height: auto!important;
}

.expandbtn{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 25px;
	cursor: pointer;
	background-color: #666;
	font-size: 10pt;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}

.expandbtn:hover{
	background-color: #333;
}

.xscroll_wrapper {
	position:relative;
	width: 754px;
	overflow-x:scroll;
	overflow-y:visible;
}

.xscroll_inner {
  width:1200px;
}

.pagenavi{
	text-align: center;
	margin: 13px auto -2px;
}

.pagenavi span{
	font-size: 10pt;
	line-height: 25px;
	margin: 2px;
	display: inline-block;
}

.pagenavi a{
	font-weight: normal;
	min-width: 20px;
	display: inline-block;
	font-size: 10pt;
	line-height: 25px;
	padding: 0 4px;
	border: 1px solid #CCC;
	background-color: #FFF;
	text-decoration: none;
}

.pagenavi a:hover{
	color: #333;
	background-color: #CCC;
	text-decoration: none;
}

.pagenavi span.shown{
	font-weight: bold;
	font-size: 10pt;
	line-height: 25px;
	min-width: 20px;
	display: inline-block;
	padding: 0 4px;
	background-color: #666;
	border: 1px solid #666;
	color: #FFF;
}

#todo{
	margin-bottom:10px;
}

#todo_left{
	float:left;
	width:546px;
	line-height:28px;
	height:28px;
	display:inline;
	border:2px solid #390;
	padding:8px;
}


ul.marquee{
	display:block;
	padding:0;
	margin:0;
	list-style:none;
	line-height:1;
	position:relative;
	overflow:hidden;
	width:100%;
	height:28px;
}

ul.marquee li{
	position:absolute;
	top:-999em;
	left:0;
	display:block;
	font-size: 12pt;
	line-height:28px;
	white-space:nowrap;
	padding: 0;
	margin: 0;
}

#todo_right{
	float:right;
	width:180px;
	display:inline;
}

#todo_right input{
	width:180px;
	height: 48px;
}

.hlist_left{
	float: left;
	width:140px;
	display: inline;
	margin-right:-140px;
}

.hlist_left img{
	width:138px;
	height: 138px;
	border: 1px solid #ccc;
}

.hlist_right{
	float: right;
	width:100%;
	display: inline;
}

.hlist_right_inner{
	position:relative;
	margin-left:155px;
	text-align: left;
}

.item_left{
	float:left;
	display:inline;
	width:318px;
	text-align:left;
}

.item_right{
	float:right;
	text-align:left;
	display:inline;
	width:426px;
}

.item_imgframe{
	border:1px solid #999;
	padding:2px;
	margin: 0 auto;
	display: inline-block;
}

#item_img{
	width: 310px;
	height: 310px;
	display:table-cell;
	vertical-align:middle;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size:contain;
	background-size:contain;
}

#item_thumb{
	margin-top:5px;
	text-align:center;
}

.item_thumb_each{
	border:1px solid #999;
	background-color:#FFF;
	margin:0 3px;
	padding:2px;
	display:inline-block;
	*display: inline;
    *zoom: 1;
}

.item_thumb_each.shown{
	background-color:#F75610;
	border:1px solid #F75610
}

#odr_items_wrap{
	background-color:#FFF;
	overflow:visible;
	position:relative;
}

.invnavi{
	position:relative;
	text-align:center;
	font-weight:bold;
	font-size:12pt;
	line-height:12pt;
	margin-bottom:10px;
}

.invnavi_prev{
	position:absolute;
	left:10px;
	top:0;
}

.invnavi_next{
	position:absolute;
	right:10px;
	top:0;
}

.invnavi_prev a, .invnavi_prev a:hover, .invnavi_next a, .invnavi_next a:hover{
	font-size:10pt;
	line-height:12pt;
	font-weight:normal;
}

#calendar{
	width: 268px;
	margin: 0 auto;
}

.cld_month{
	text-align:center;
	font-weight:bold;
	position:relative;
}

.cld_prev{
	position:absolute;
	left:0;
	top:0;
}

.cld_next{
	position:absolute;
	right:0;
	top:0;
}

.cld_prev a, .cld_prev a:hover, .cld_next a, .cld_next a:hover{
	font-size:10pt;
	line-height:10pt;
	font-weight:normal;
}

.cld_table{
	border-collapse:collapse;
	width:268px;
}

.cld_table th{
	text-align:center;
	background-color:#DDD;
	border:1px solid #999;
	padding:2px 0;
	font-size: 10pt;
	line-height: 15pt;
}

.cld_table td{
	text-align:center;
	border:1px solid #999;
	padding:2px 0;
	font-size: 10pt;
	line-height: 18pt;
}

.cld_table td.dead{
	background-color: #EEE;
}

.cld_table td.close{
	background-color: #FCC;
}

ul.fee_list{
	padding:0;
	margin:0;
	list-style-type:none;
	list-style-position:inside;
}

ul.fee_list li.head{
	color:#AAA;
	cursor:pointer;
	padding:3px 10px 3px 30px;
	font-weight:bold;
	margin:1px 0;
	background:url(../img/mrk_boxarrow.gif) no-repeat 10px center;
}

ul.fee_list li.head:hover{
	color:#1F69A5;
}

ul.fee_list li.shown{
	color:#1F69A5;
}

ul.fee_list li.body{
	padding:0 10px 0 30px;
	display:none;
}



.category_wrap{
	text-align: center;
	margin: -5px;
}

.category_inner{
	margin: 0 auto;
}

.category_each{
	float: left;
	margin: 5px;
	text-decoration:none;
	position: relative;
	width: 181px;
}

.category_each:hover{
	text-decoration:none;
}

.category_imgwrap{
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	width:181px;
	height:120px;
	background-color: #CCC;
	background-size: cover;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow: 0 0 4px #AAA;
	-moz-box-shadow: 0 0 4px #AAA;
	-webkit-box-shadow: 0 0 4px #AAA;
	text-shadow:
	-1px -1px 1px #FFF,
	1px -1px 1px #FFF,
	1px 1px 1px #FFF,
	-1px 1px 1px #FFF;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.category_imgwrap span.large{
	width:170px;
	display: block;
	font-size: 11pt;
	line-height: 20pt;
	font-weight:  bold;
	color: #222;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	margin: 0 auto;
}

.category_imgwrap span.small{
	width:170px;
	display: block;
	font-size: 9pt;
	line-height: 12pt;
	font-weight:  bold;
	color: #222;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	margin: 0 auto;
}

.category_imgwrap:hover{
	text-decoration: none;
}

.category_imgwrap.shown{
	border:2px solid #f30;
}


.tooltip_wrap {
	position: absolute;
	display: none;
	z-index: 50000;
}

.tooltip_inner{
	position: absolute;
	font-size: 10pt;
	line-height: 15pt;
	font-weight: normal;
	text-decoration: none;
	background-color:#FFF;
	color: #222;
	border:2px solid #666;
	zoom:normal;
	z-index:20;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;	
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	word-break:break-all;
}

.tooltip_inner.lt {
	left: 25px;
	top: -10px;
}

.tooltip_inner.lb {
	left: -10px;
	bottom: 9px;
}

.tooltip_inner.rt {
	right: 9px;
	top: -10px;
}

.tooltip_inner.rb {
	right: -26px;
	bottom: 9px;
}

.tooltip_inner:after{
	content:"";
	width:0;
	height:0;
	position:absolute;
}

.tooltip_inner.lt:after{
	border-right:5px solid #666;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	top:11px;
	left:-7px;
}

.tooltip_inner.lb:after{
	border-top:5px solid #666;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	bottom:-7px;
	left:11px;
}

.tooltip_inner.rt:after{
	border-left:5px solid #666;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	top:11px;
	right:-7px;
}

.tooltip_inner.rb:after{
	border-top:5px solid #666;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	bottom:-7px;
	right:11px;
}

#progress_container{
	width:100%;
	height: 100%;
	text-align:center;
}

#progress_inner{
	width: 100%;
	max-width:400px;
	margin: 0 auto;
	padding: 100px 10px 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#progress_body{
	text-align:center;
	font-size: 10pt;
	line-height: 15pt;
	margin:0 auto 5px;
	position:relative;
	background-color: #FFF;
	padding: 10px;
	border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   box-shadow: 0 0 2px #AAA; 
   -moz-box-shadow: 0 0 2px #AAA;
   -webkit-box-shadow: 0 0 2px #AAA;
}

#progress_head{
	text-align:left;
	margin-bottom: 15px;
}

#progress_loading{
	text-align: center;
	margin: 40px 0px;
}

.mt0{margin-top:0px!important;}
.mt3{margin-top:3px!important;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}

.mb0{margin-bottom:0px!important;}
.mb3{margin-bottom:3px}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}

.mr3{margin-right:3px!important;}
.mr5{margin-right:5px!important;}
.mr10{margin-right:10px;}

.ml3{margin-left:3px!important;}
.ml5{margin-left:5px!important;}
.ml10{margin-left:10px;}

.wd_narrow{
	width: 652px;
	box-sizing: border-box!important;
	-moz-box-sizing:border-box!important;
	-webkit-box-sizing:border-box!important;
}

.wd_middle{
	width: 754px;
	box-sizing: border-box!important;
	-moz-box-sizing:border-box!important;
	-webkit-box-sizing:border-box!important;
}

@media screen and (max-width: 600px) {
	.break_colspan th{
		width:25%;
	}

	#item_desc_body{
		height:400px;
	}

	#item_desc_body iframe{
		height:400px;
	}

	#item_desc_inner{
		height:340px;
	}
}
@media screen and (max-width: 774px) {
	html{
		overflow-x: hidden;
	}

	h1{
		font-size: 12pt;
		line-height: 15pt;
	}

	h1.h1_about {
		font-size: 15pt;
		line-height: 20pt;
	}

	h1.h1_about.fc{
		margin: 80px 0 15px;
	}
	
	input[type='text'], input[type='password'], textarea, input[type='text']:focus, input[type='password']:focus, textarea:focus {
		font-size:16px;
	}

	input[type="button"], input[type="submit"]{
		font-size: 11pt;
		line-height: 18px;
		padding: 4px 6px;
		border: 1px solid #222;
	}

	select{
		-moz-appearance: button;
		-webkit-appearance: button;
		appearance: button;
	}

	.button{
		font-size: 11pt;
		line-height: 18px;
		padding: 4px 6px;
		border: 1px solid #222;
	}

	#container{
		margin: 0;
	}
	
	#top, #top.ssl{
		width: 100%;
	}
	
	#top_menu{
		margin-right: 5px;
	}
	
	#top_caption{
		display: none;
	}

	.top_button{
		padding: 2px 3px 3px;
		text-indent: 0;
		letter-spacing: 0;
	}
	
	#side{
		float: none;
		width: 100%;
		display: block;
		position: relative;
		border-top: 1px solid #CCC;
	}

	#main{
		float: none;
		width:100%;
		display: block;
	}
	
	#inner, #inner.ssl{
		width: 100%;
		margin: 0 auto;
		padding: 0;
		border-left: none;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	
	section, .section{
		margin: 0;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		box-shadow: none; 
		-moz-box-shadow: none; 
		-webkit-box-shadow: none;
		padding: 10px;
		border-bottom: 1px solid #CCC;
	}

	.section_side_head{
		margin: 0;
		border-left: none;
		border-right: none;
	}
	
	.section_side_body{
		margin: 0;
		border-left: none;
		border-right: none;
	}
	
	.side_table{
		border-left: none;
		border-right: none;
	}
	
	.side_table th{
		border-left: none;
	}
	
	.side_table td{
		border-right: none;
	}
	
	.sidebtn{
		display:block;
		height: 34px;
		box-shadow: none; 
		-moz-box-shadow: none; 
		-webkit-box-shadow: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		margin: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #CCC;
		padding: 7px 5px;
	}

	.mp_menu{
		width: 48%;
	}

	.mp_menu a{
		font-size: 8pt;
		line-height: 20px;
	}
	
	.mp_menu a .menumark{
		display: block;
		margin: 0 auto;
	}

	#error_inner{
		padding: 10px 10px 5px;
	}
	
	#header, #header.ssl{
		width: 100%;
		height: auto;
		border-bottom: 2px solid #F75610;
	}

	#header_menubtn{
		display: block;
	}

	#header_right_hidden{
		display: inline;
	}

	#header_right{
		position: absolute;
		right: 2px;
		top: 3px;
	}
	
	#header_logo{
		position: relative;
		left: auto;
		top: auto;
		display: inline-block;
		margin: 0 auto 4px;
	}

	#header_logo img{
		width: 135px;
		height: 44px;
	}
	
	.headerbtn, .headerbtn.short, .headerbtn.middle, .headerbtn.long, .headerbtn:hover{
		width: 34px;
		background: none;
		border: none;
		margin: 0 1px;
	}
	
	#hd_src_wrapper, #hd_src_wrapper.cp_search{
		display: none;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		left: 0;
		top: 0;
		border-bottom: 1px solid #CCC;
	}
	
	#hd_src_wrapper.shown{
		display: block;
	}

	#hd_src{
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	#hd_src_lang{
		height:24px;
		background-color: #F75610;
		padding: 3px 3px 0;
	}
	
	#hd_src_lang li{
		display: block;
		width:25%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding: 0;
		margin:0;
		background:#F75610;
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	
	#hd_src_lang li.shown{
		background:#FFF;
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	
	#hd_src_lang li a{
		color: #FFF;
		font-size:8pt;
		line-height:24px;
		margin-bottom:0;
		display:block;
		text-indent: 0;
		letter-spacing: 0;
	}
	
	#hd_src_lang li a:hover{
		color: #FFF;
	}
	
	#hd_src_lang li.shown a{
		color: #222;
		font-size:8pt;
		line-height:24px;
		font-weight:normal;
	}
	
	#hd_src_lang li.shown a:hover{
		color: #222;
	}
	
	.hd_src_row{
		display: block;
		position: relative;
		margin: 3px 1px 0;
	}
	
	#hd_src_site{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#hd_src_category{
		/*margin-left:74px;*/
		display: block;
	}
	
	#hd_src_category.sellerurl{
		display: none;
	}
	
	.hd_src_category_each.shown{
		display: block;
	}

	.hd_src_catdiv.default{
		display: inline-block;
	}
	
	.hd_src_pardiv, .hd_src_catdiv{
		width: 50%;
	}
	
	.hd_src_pardiv, .hd_src_catdiv{
		width: 50%;
	}
	
	.hd_src_pardiv select, .hd_src_catdiv select{
		width: 100%;
		margin: 0;
	}
	
	.hd_src_catdiv select{
		border-right: none;
	}
	
	#hd_src_btn{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	#hd_src_keyword{
		margin-right:34px;
		display: block;
	}

	#hd_src_keyword.sellerurl{
		margin-left:74px;
	}

	#src_keyword.cplong, #src_keyword.long, #src_keyword.middle, #src_keyword.short, #src_history.long, #src_history.middle, #src_history.short{
		width: 100%;
	}
	
	#breadnavi, #breadnavi.ssl{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		margin: 0;
	}

	#footer, #footer.ssl{
		width: 100%;
		padding: 0;
	}
	
	#footer_exrate{
		float: none;
		display: block;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border-left: none;
		border-right: none;
	}
	
	#footer_navi {
		float: none;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 0 10px;
	}
	
	#footer_navi dl {
		float:none;
		width:100%;
	}
	
	#footer_navi dl dt {
		font-size: 10pt;
		line-height: 18pt;
		color: #FFF;
		padding: 5px 10px;
		margin: 0;
		background-color: #AAA;
	}
	
	#footer_navi dl dd ul li{
		border-bottom: 1px solid #CCC;
		margin: 0;
	}
	
	#footer_navi dl dd ul li a{
		background: url('../img/bak_submenu.png') no-repeat 10px center;
		font-size: 10pt;
		line-height: 18pt;
		text-align: left;
		padding: 5px 5px 5px 20px;
		display: block;
		text-decoration: none;
	}
	
	#footer_copyright span{
		display: block;
		margin: 3px 0;
	}
	
	.headerbtn .menulabel{
		display: none;
	}
	
	#slide{
		margin: 0;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		box-shadow: none; 
		-moz-box-shadow: none; 
		-webkit-box-shadow: none;
		height: 92px;
		border-bottom: 1px solid #CCC;
	}
	
	.optioncol{
		display: none;
	}

	.smartphone{
		display: block;
	}

	.narrow_value:hover .narrow_options{
		display: none;
	}	
	.narrow_value.hover .narrow_options{
		display: block;
	}
	.narrow_options_title{
		display: block;
	}
	
	.list_button, .list_move{
		display: block;
	}
	
	#todo_left{
		float:none;
		width:100%;
		line-height:20px;
		height:auto;
		display:block;
		margin-bottom: 10px;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	
	#todo_right{
		float:none;
		width:100%;
		display:block;
	}
	
	#todo_right input{
		width:100%;
		height: 48px;
	}	
	
	dl.news dt{
		float:none;
		clear:left;
		width:100%;
		color:#666;
		font-weight:bold;
		text-align:left;
	}
	
	dl.news dd{
		margin:0;
		padding: 0 5px;
		text-align:left;
	}

	.add_table th{
		padding:5px;
	}
	
	.add_table td{
		padding:5px;
	}
	
	.hlist_left{
		width:100px;
		margin-right:-100px;
	}
	
	.hlist_left img{
		width:98px;
		height: 98px;
	}
	
	.hlist_right_inner{
		margin-left:110px;
		font-size: 10pt;
		line-height: 15pt;
	}

	.item_left{
		float: none;
		width: 100%;
		display: block;
		text-align: center;
	}
	
	.item_right{
		float: none;
		width: 100%;
		display: block;
		margin-top: 15px;
	}
	
	#item_img{
		width:280px;
		height:280px;
	}
	
	.xscroll_wrapper {
		width: 100%;
	}

	.selbox.left{
		float:none;
		width:100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		display:block;
		margin: 0 0 10px;
	}
	.selbox.right{
		float:none;
		width:100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		display:block
	}
	
	#news dl dt{
		float:none;
		width:100%;
		text-align:left;
	}
	
	#news dl dd{
		margin:0 0 0 0;
		text-align:left;
	}
	
	.slide_wrap {
		-khtml-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}

	.tool_left{
		float: none;
		width:100%;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		min-height: auto;
		margin-bottom: 10px;
	}
	
	.tool_right{
		float:none;
		width:100%;
	}
	
	.bookmarklet{
		width: 100%;
		height: auto;
	}

	.ftr_each{
		margin: 4px;
		padding: 0;
	}

	.ftr_each img{
		width: 140px;
		height: 83px;
	}
	.ftr_feature{
		visibility: hidden;
	}

	.ftr_name{
		width: 128px;
		left:0;
		bottom:0;
		padding:6px;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		-webkit-border-top-right-radius:0;
		-webkit-border-bottom-right-radius:0;
		-moz-border-radius-topright:0;
		-moz-border-radius-bottomright:0;
		font-size:10pt;
		line-height:12pt;
	}

	.ftr_left{
		float: none;
		width: 100%;
		display: block;
		margin-right: 0;
		text-align: center;
	}

	.ftr_img{
		display: inline-block;
		margin: 0 auto;
	}

	.ftr_right{
		float: none;
		width:100%;
		display: block;
		margin-top: 14px;
	}

	.ftr_right_inner{
		margin-left:0;
	}

	.ftr_baloon{
		padding: 6px;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
	}

	.ftr_baloon_arrow{
		border-top: none;
		border-right:8px solid transparent;
		border-left:8px solid transparent;
		border-bottom:10px solid #EEE;
		top:-10px;
		left: 49%;
	}

	.category_wrap{
		margin: -5px;
	}

	.category_each{
		margin: 5px;
		width: 140px;
	}

	.category_each:hover{
		text-decoration:none;
	}

	.category_imgwrap{
		width:140px;
		height:100px;
		border-radius:6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		font-size: 10pt;
		line-height: 100px;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
	}

	.category_imgwrap span.large, .category_imgwrap span.small{
		width: 130px;
	}

	.pc_advert{
		display: none;
	}

}

/* Home page */
#top .top-right  {
	padding: 15px;
}
#top .top-left {
	font-weight: 700;
	font-size: 14px;
	padding: 15px;
}

.history_product {
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
}

.hp_top{
	font-size: 22px;
	padding: 12px;
	background: #f75610;
	color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-weight: 900;
}

.hp_detail {
	padding: 12px 0;
	margin: 0 !important;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
}

.ht_content {
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

.hp_detail_left {
	float: left;
	width: 40%;
}

.hp_detail_right {
	float: right;
	width: 60%;
}

.hp_detail_left span:first-child {
	display: block;
}

.hp_detail_right:hover {
	color: #f75610;
}

.hp_detail_right span:first-child {
	font-family: "Meiryo";
	font-size: 28px;
	margin-right: 10px;
}
.hp_detail_1 .hp_detail_left span {
	margin-top: 10px;
}

.side-link {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #ccc;
}

.box-link a, .box-link a:active, .box-link a:focus {
	color: #337ab7;
	text-decoration: none;
	font-weight: bold;
	margin-top: 5px;
}
.box-link a:hover {
	color: #0099e8;
	text-decoration: none;
}

.box-link a span {
	display:block ;
	margin-top: 5px;
}

#slider-home {
	margin-top: 10px;
}

.top-right a, .top-right a:hover, .top-right a:active, .top-right a:focus{

	color: #333 !important;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}


/*** Login user ***/

.bl-title, .ru-title {
	font-weight: bold;
	font-size: 25px;
	margin: 25px;
}
.box-login, .box-register {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 25px;
	min-height: 347px;
	margin-bottom: 40px;
}

.box-login .bl-head, .box-register .br-head {
	padding: 13px 25px;
	text-align: center;
	background: #eee;
	font-size: 15px;
	font-weight: bold;
}

.box-login .bl-head p, .box-register .br-head p {
	margin: 0 auto;
}
.box-login .bl-content, .box-register .br-content {
	padding: 25px;
}

.box-login .bl-content .blc-title, .box-register .br-content .brc-title {
	font-size: 16px;
	text-align: left;
	line-height: 120%;
}

.box-login .bl-content label {
	font-size: 13px;
}
.box-login .bl-content button {
	border: 1px solid #a8ef6b;
	position: relative;
	color: #333;
	background-color: #a8ef6b;
	border-radius: 2px;
	padding: 10px;
}

.box-login .bl-content button:hover, .box-register .br-content a:hover {
	background: #b4f37e;
	opacity: 1;
}

.box-register {
	margin-right: 15px;
}
.box-register .br-content {
	font-size: 13px;
}

.box-register .br-content ul {
	padding: 5px 0 0 15px;
}

.box-register .br-content ul span {
	color: red;
}
.box-register .br-content a {
	border: 1px solid #a8ef6b;
	position: relative;
	color: #333;
	background-color: #a8ef6b;
	border-radius: 2px;
	padding: 10px;
	/* width: 100%; */
	display: block;
	text-align: center;
	text-decoration: none;
}

.btn-menu-link {
	border: 1px solid #a8ef6b;
	color: #333;
	background-color: #a8ef6b;
	border-radius: 2px;
	padding: 10px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 10px 31px;
}

.btn-menu-link-active {
	border: 1px solid #FC0;
	color: #333;
	background-color: #FC0;
	border-radius: 2px;
	padding: 10px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 10px 31px;
}

.btn-change-pw {
	border: 1px solid #a8ef6b;
	color: #333;
	background-color: #a8ef6b;
}
/*** End login user ***/


/* Button back to top */
.btn-top {
	text-align: center;
	background: rgb(204, 204, 204);
	border: medium none;
	bottom: 20px;
	cursor: pointer;
	display: none;
	height: 50px;
	outline: medium none;
	padding: 0;
	position: fixed;
	right: 20px;
	width: 50px;
	z-index: 9999;
}

.btn-top:hover, .btn-top:active {
	color: #333;
	opacity: 1;
}

.btn-top span {
	font-size: 21px;
	margin-top: 10px;

}

/* FAQ, guide, term of service page */

.fqa-title , .guide-title, .ts-title, .ts2-title{
	font-size: 20px;
	boder-bottom: 1px solid;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 5px 0;
}

.fqa-content ul {
	padding: 10px 0 10px 15px;
}

.fqa-content ul li a {
	text-decoration: none;
}
.fqa-content ul li a:hover {
	color: #337ab7;
}
.fqa-content .fqa-detail p, .ts-content .ts-detail p{
	text-align: justify;
	padding-left: 10px;
}

.fqa-content .fqa-detail p:first-child, .guide-content .guide-detail p:first-child, .ts-content .ts-detail p:first-child, .ts2-content .ts2-detail p:first-child span{
	font-weight: bold;
	padding-left: 0px;
}

.guide-content .guide-detail p {
	padding-left: 10px;
}


/****** Page Contact *******/
.contact-title {
	font-weight: bold;
	font-size: 25px;
	margin: 25px;
}

.contact-form {
	margin-right: 110px;
}

.contact-form label {
	font-weight: bold;
}

.contact-form label span.require {
	color: red;
}
.contact-form button {
	border-radius: 0;
	padding: 7px 25px;
}


.form-group.has-error label, .form-group.has-success label {
	color: #333 !important;
}

.form-group.has-error input.form-control, .form-group.has-success input.form-control, .form-group.has-error textarea.form-control, .form-group.has-success textarea.form-control {
	border-color: #d2d6de !important;
}

/*****Page Cart ****/
.pc-product-detail {
    margin-bottom: 10px;
}
.pc-main-tile {
	font-weight: bold;
	font-size: 25px;
	margin: 15px;
	padding-bottom: 10px;
	border-bottom: 1px #ccc solid;
}
.pc-product-detail .info {

}
.pc-product-detail .info a{
	margin-bottom: 5px;
	display: block;
}
.pc-product-detail .detail {
	margin-top: 50px;
}

.pc-product-detail .detail .price-container {
	width:35%;
	text-align: center;
	display: inline-block;
}

.pc-product-detail .detail .multipli {
	text-align: center;
	display: inline-block;
}

.pc-product-detail .detail .quantity-container {
	width: 40%;
	text-align: center;
	display: inline-block;
}

.pc-product-detail .detail .quantity-container input {
	text-align: center;
}

.pc-product-detail .detail .quantity-container .quantity {
	width: 80%;
	display: inline-block;
	padding: 0;
}

.pc-product-detail .action {
	margin-top: 30px;
}

.pc-product-detail .action button:first-child {
	margin-bottom: 15px;
}

.pc-side {
	margin: 20px 15px;
	border: 1px solid #ccc;
	padding: 15px;
	font-weight: 600;
	text-align: center;

}
.pc-side-total {
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 20px;
}
.pc-side-address {
	text-align: justify;
	border: 1px solid #ccc;
	padding: 15px;
}
.payment .icon-arrow-bottom {
	right: 8px !important;
}
.payment_method {
	font-size: 12px;
	padding: 5px 25px 5px 4px;
	border: 1px solid #ccc;
}

/*** Reset password ***/
.link-reset-pw {
	text-align: center;
}
.link-reset-pw a{
	text-decoration: none;
}

.reset-pw-title {
	font-weight: bold;
	font-size: 25px;
	margin: 25px;
}
.reset-pw-des {
	margin: 0 25px;
}
.reset-pw-form {
	margin: 0 auto;
}
.reset-pw-form p {
	text-align: center;
}
.reset-pw-form-des {
	margin-top: 15px;
}


/*** Side product detal ***/
.owl-carousel .owl-item {
	width: 300px !important;
	height: 300px !important;
	display: block !important;
	margin: 0 auto !important;
	position: relative !important;
}

.owl-carousel .owl-item img, .owl-dot .owl-dot-inner img {
	width: initial !important;
	margin: auto !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	opacity: 1 !important;
	max-width: 100% !important;
	max-height: 100% !important;
}

.owl-dot .owl-dot-inner {
	width: 75px;
	height: 75px;
	display: block !important;
	margin: 0 auto !important;
	position: relative !important;
}

/*** Page error ***/
.error-400, .error-500 {
	height: 500px;
	padding: 0 25px;
}
.error-400 h2, .error-500 h2 {
	background: none;
	margin-bottom: 25px;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxNewwindow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#666;}
#colorbox{outline:0;}
#cboxTopLeft{width:8px; height:8px; background:url(../img/cbox_ctrls.png) no-repeat 0 0;}
#cboxTopCenter{height:8px; background:url(../img/cbox_bdr.png) repeat-x top left;}
#cboxTopRight{width:8px; height:8px; background:url(../img/cbox_ctrls.png) no-repeat -8px 0;}
#cboxBottomLeft{width:8px; height:8px; background:url(../img/cbox_ctrls.png) no-repeat 0 -36px;}
#cboxBottomCenter{height:8px; background:url(../img/cbox_bdr.png) repeat-x bottom left;}
#cboxBottomRight{width:8px; height:8px; background:url(../img/cbox_ctrls.png) no-repeat -8px -36px;}

#cboxMiddleLeft{width:8px; background:url(../img/cbox_ctrls.png) repeat-y -104px 0;}
#cboxMiddleRight{width:8px; background:url(../img/cbox_ctrls.png) repeat-y -112px 0;}
#cboxContent{background:#fff; overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadingOverlay{background:url(../img/cbox_loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../img/cbox_loading.gif) no-repeat center center;}
#cboxTitle{position:absolute; top:5px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
#cboxCurrent{position:absolute; top:5px; left:58px; font-weight:bold;
text-shadow: 1px 1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxClose, #cboxNewwindow {border:0; padding:0; margin:0; overflow:visible;  position:absolute; top:5px; background:url(../img/cbox_ctrls.png) no-repeat 0px 0px; width:22px; height:22px; text-indent:-9999px;}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxPrevious{left:5px; background-position: -16px -22px;}
#cboxPrevious:hover{background-position:-16px 0px;}
#cboxNext{left:32px; background-position:-38px -22px;}
#cboxNext:hover{background-position:-38px 0px;}
#cboxClose{right:5px; background-position:-60px -22px;}
#cboxClose:hover{background-position:-60px 0px;}
#cboxNewwindow{right:32px; background-position:-82px -22px;}
#cboxNewwindow:hover{background-position:-82px 0px;}