/* レコメンド　縦スライド */

.recommend_wrap {
	clear:both;
}

.history_title,
.user_recommend_title,
.item_recommend_title{
font-weight:bold;
color: #ab0000;
border-bottom:2px solid #ab0000;
font-size:12px;
}
.productcheck{
width:144px;
height:160px;
}

.productcheck ul{
margin:0;
padding:10px 20px 0 0;
}
.productcheck li{
list-style:none;
font-size:10px;
margin:0;
padding:0;
}



.productconnect{
width:102px;
}

.productcheck .product_image {
width:102px;
}
.productcheck .product_image img{
border:1px solid #CCCCCC;
height:100px;
width:100px;
}
.productcheck .name a{
text-decoration:none;
}
.productcheck .name{
line-height:1.2;
height:2.4em;
overflow:hidden;
width:100px;
}
.productcheck .spec1{
color: #999999;
width:100px;
}
#upperRecomend .contEnd{
margin-bottom:10px;
}

#user_recommends,
#history_results,
#item_recommends{
width:145px;
border: 1px solid #CECED1;
padding :10px;
position:relative;
overflow:hidden;
height:700px;
text-align:left;
}

.recomInnerV{
float:left;
display:inline;
}

.length1{
height:220px;
}
.length2{
height:380px;
}
.length3{
height:540px;
}


.recomInner{
position:absolute;
height:200px;
width:1800px;
z-index:0;
left:20px;
padding-left:13px;
}

#sc_button1{
position: relative;
}
#sc_button2,
#sc_button3,
#sc_button4{
display:none;
}

#sc_button1{top:6px;}
/*
#sc_button2{top:320px;}
#sc_button3{top:480px;}
#sc_button4{top:640px;}
*/

.scrollL,
.scrollR{
height:15px;
background:#FFFFFF;
position:absolute;
width:42px;
z-index:3;
}



.scrollL a:hover img.defnextclass ,
.scrollR a:hover img.defnextclass {
	-moz-opacity:0.15;
	opacity:0.15;
	filter:alpha(opacity=15);
}



.scrollL a,
.scrollR a{
outline:none;
}
.scrollL a img,
.scrollR a img{
border:0;
}

.scrollL{ background:url(/image/recom/scv_l_h.gif) no-repeat;left:0;}
.scrollR{ background:url(/image/recom/scv_r_h.gif) no-repeat;right:0;cursor: pointer;}

.page{
text-align:center;
background:#ffffff;
font-size:11px;
color:#999999;
z-index:5;
padding:0 2px;
margin:3px auto;
}
