<!DOCTYPE html>
<!-- saved from url=(0041)https://item.mercari.com/jp/m38907597051/ -->
<html lang="ja-JP">
<head>

    <title>sdfgds</title>
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="alternate" href="android-app://com.kouzoh.mercari/mercari/item/openDetail?id=m38907597051">
    <style type="text/css">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }
        .item-user-ratings .fa{
            font-size: 16px;
        }
        .item-user-ratings .good{
            background-image: url('../img/icon/good.png');
        }
        .item-user-ratings .normal{
            background-image: url('../img/icon/normal.png');
        }
        .item-user-ratings .bad{
            background-image: url('../img/icon/bad.png');
        }
        .fb_reposition {
            overflow: hidden;
            position: relative
        }

        .fb_invisible {
            display: none
        }

        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }

        .fb_reset > div {
            overflow: hidden
        }

        .fb_link img {
            border: none
        }

        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }
            to {
                opacity: 1;
                transform: scale(1)
            }
        }

        .fb_animate {
            animation: fb_transform .3s forwards
        }

        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }

        .fb_reset .fb_dialog_legacy {
            overflow: visible
        }

        .fb_dialog_advanced {
            padding: 10px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px
        }

        .fb_dialog_content {
            background: #fff;
            color: #333
        }

        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            _background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif);
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
            top: 5px;
            left: 5px;
            right: auto
        }

        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }

        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
            _background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif)
        }

        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
            _background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif)
        }

        .fb_dialog_loader {
            background-color: #f6f7f9;
            border: 1px solid #606060;
            font-size: 24px;
            padding: 20px
        }

        .fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
            height: 10px;
            width: 10px;
            overflow: hidden;
            position: absolute
        }

        .fb_dialog_top_left {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
            left: -10px;
            top: -10px
        }

        .fb_dialog_top_right {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
            right: -10px;
            top: -10px
        }

        .fb_dialog_bottom_left {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
            bottom: -10px;
            left: -10px
        }

        .fb_dialog_bottom_right {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
            right: -10px;
            bottom: -10px
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            position: absolute;
            background: #525252;
            filter: alpha(opacity=70);
            opacity: .7
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right {
            width: 10px;
            height: 100%
        }

        .fb_dialog_vert_left {
            margin-left: -10px
        }

        .fb_dialog_vert_right {
            right: 0;
            margin-right: -10px
        }

        .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            width: 100%;
            height: 10px
        }

        .fb_dialog_horiz_top {
            margin-top: -10px
        }

        .fb_dialog_horiz_bottom {
            bottom: 0;
            margin-bottom: -10px
        }

        .fb_dialog_iframe {
            line-height: 0
        }

        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }

        .fb_dialog_content .dialog_title > span {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
            float: left;
            padding: 5px 0 7px 26px
        }

        body.fb_hidden {
            -webkit-transform: none;
            height: 100%;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            left: 0;
            width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }

        .fb_dialog.fb_dialog_mobile.loading.centered {
            width: auto;
            height: auto;
            min-height: initial;
            min-width: initial;
            background: none
        }

        .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
            width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
            background: none
        }

        .loading.centered #fb_dialog_loader_close {
            color: #fff;
            display: block;
            padding-top: 20px;
            clear: both;
            font-size: 18px
        }

        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .45);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            z-index: 10000
        }

        #fb-root #fb_dialog_ipad_overlay.hidden {
            display: none
        }

        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }

        .fb_dialog_content .dialog_header {
            -webkit-box-shadow: white 0 1px 1px -1px inset;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
            border-bottom: 1px solid;
            border-color: #1d4088;
            color: #fff;
            font: 14px Helvetica, sans-serif;
            font-weight: bold;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }

        .fb_dialog_content .dialog_header table {
            -webkit-font-smoothing: subpixel-antialiased;
            height: 43px;
            width: 100%
        }

        .fb_dialog_content .dialog_header td.header_left {
            font-size: 12px;
            padding-left: 5px;
            vertical-align: middle;
            width: 60px
        }

        .fb_dialog_content .dialog_header td.header_right {
            font-size: 12px;
            padding-right: 5px;
            vertical-align: middle;
            width: 60px
        }

        .fb_dialog_content .touchable_button {
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
            border: 1px solid #29487d;
            -webkit-background-clip: padding-box;
            -webkit-border-radius: 3px;
            -webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
            display: inline-block;
            margin-top: 3px;
            max-width: 85px;
            line-height: 18px;
            padding: 4px 12px;
            position: relative
        }

        .fb_dialog_content .dialog_header .touchable_button input {
            border: none;
            background: none;
            color: #fff;
            font: 12px Helvetica, sans-serif;
            font-weight: bold;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }

        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle
        }

        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #555;
            border-bottom: 0;
            border-top: 0;
            height: 150px
        }

        .fb_dialog_content .dialog_footer {
            background: #f6f7f9;
            border: 1px solid #555;
            border-top-color: #ccc;
            height: 40px
        }

        #fb_dialog_loader_close {
            float: left
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden
        }

        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 24px;
            width: 24px
        }

        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative
        }

        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify
        }

        .fb_iframe_widget iframe {
            position: absolute
        }

        .fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%
        }

        .fb_iframe_widget_fluid_desktop iframe {
            min-width: 220px;
            position: relative
        }

        .fb_iframe_widget_lift {
            z-index: 1
        }

        .fb_hide_iframes iframe {
            position: relative;
            left: -10000px
        }

        .fb_iframe_widget_loader {
            position: relative;
            display: inline-block
        }

        .fb_iframe_widget_fluid {
            display: inline
        }

        .fb_iframe_widget_fluid span {
            width: 100%
        }

        .fb_iframe_widget_loader iframe {
            min-height: 32px;
            z-index: 2;
            zoom: 1
        }

        .fb_iframe_widget_loader .FB_Loader {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
            height: 32px;
            width: 32px;
            margin-left: -16px;
            position: absolute;
            left: 50%;
            z-index: 4
        }</style>
    <link rel="stylesheet" href="/css/skin/dist/css/AdminLTE.css" />
    <link href="/css/app.jp.css" rel="stylesheet">
    <link rel="stylesheet" href="/js/skin/bootstrap/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<script src="/js/plugins/jQuery/jquery-2.2.1.min.js"></script>
<script src="/js/frontend/detail.js?updated=1504149147"></script>
<div class="default-container">
    <header class="sp-header visible-sp">

        <div class="sp-header-inner clearfix">
            <h1>
                <a href="https://www.mercari.com/jp/">
                    <img src="/img/detailproduct/logo.svg"
                         alt="mercari" width="148" height="40">
                </a>
            </h1>

            <div class="sp-header-user-nav clearfix">
                <a href="https://www.mercari.com/jp/mypage/" class="sp-header-user-icon">
                    <figure>
                        <div>
                            <img src="/img/detailproduct/member_photo_noimage_thumb.png"
                                 alt="" width="32">
                        </div>
                        <figcaption>
                            58
                        </figcaption>
                    </figure>
                </a>

                <form action="search" class="sp-header-form">
                    <input type="search" name="keyword" value="" placeholder="キーワードから探す"
                           class="sp-header-search input-default">
                    <i class="icon-search"></i>
                </form>

            </div>
        </div>


        <nav class="sp-header-nav">
            <ul>
                <li>
                    <a href="https://www.mercari.com/jp/category/1/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_レディース">レディース</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/brand/658/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_シャネル">シャネル</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/category/2/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_メンズ">メンズ</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/brand/857/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_ナイキ">ナイキ</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/category/3/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_ベビー・キッズ">ベビー・キッズ</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/brand/1326/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_ルイ ヴィトン">ルイ ヴィトン</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/category/6/" class="" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_コスメ・香水・美容">コスメ・香水・美容</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/brand/" class="active-category" data-ga="element"
                       data-ga-category="NAVIGATION" data-ga-label="sp_header_nav_ブランド一覧">ブランド一覧</a>
                </li>
            </ul>
        </nav>

    </header>

    <header class="pc-header visible-pc">
        <div class="pc-header-inner">
            <div class="clearfix">
                <h1 class="l-left">
                    <a href="https://www.mercari.com/jp/">
                        <img src="/img/detailproduct/logo.svg"
                             alt="mercari" width="134" height="36">
                    </a>
                </h1>

                <form action="/user-products/search" class="pc-header-form l-right">
                    <input type="search" name="keyword" value="" placeholder="キーワードから探す" class="input-default">
                    <i class="icon-search"></i>
                </form>
            </div>

            <div class="pc-header-nav-box clearfix">

                <nav class="l-left">
                    <ul class="pc-header-nav">
                        <li>
                            <h2>
                                <a href="https://www.mercari.com/jp/category/" class="pc-header-nav-root">カテゴリー</a>
                            </h2>
                            <ul class="pc-header-nav-parent-wrap" data-mega="1">
                                <?php foreach ($parent_category as $row) {?>
                                <li class="pc-header-nav-parent">
                                    <h2><a href="/user-products/search?category=<?php echo $row['id']; ?>"><?php echo $row['categoryName']; ?></a></h2>
                                    <?php  if(isset($row['child']))  {?>
                                    <ul class="pc-header-nav-child-wrap" data-mega="2">
                                        <?php foreach ($row['child'] as $value) { ?>
                                        <li class="pc-header-nav-child">
                                            <a href="/user-products/search?category=<?php echo $row['id']; ?>"><?php echo $value['categoryName']?></a>
                                            <?php if(isset($value['child'])) { ?>
                                            <ul class="pc-header-nav-grand-child-wrap" data-mega="3">
                                                <?php foreach ($value['child'] as $val) { ?>
                                                <li class="pc-header-nav-grand-child">
                                                    <a href="/user-products/search?category=<?php echo $row['id']; ?>"><?php echo $val['categoryName'];?></a>
                                                </li>
                                                <?php } ?>
                                            </ul>
                                            <?php } ?>
                                        </li>
                                        <?php } ?>
                                    </ul>
                                    <?php  } ?>
                                </li>
                                <?php } ?>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="l-right">

                    <ul class="pc-header-user-nav">
                        <?php if (isset($currentUser)) {?>
                            <li>
                            <a href="https://www.mercari.com/jp/mypage/" class="sp-header-user-icon pc-header-nav-root">
                                <figure>
                                    <div>
                                        <img src="/img/detailproduct/member_photo_noimage_thumb.png"
                                             alt="" width="32">
                                    </div>
                                </figure>
                                <div><?php echo $currentUser['username'];?></div>
                            </a>

                            <div class="pc-header-user-box pc-header-mypage-box">
                                <div class="pc-header-mypage-state text-center">
                                    <figure>
                                        <div>
                                            <img src="/img/detailproduct/member_photo_noimage_thumb.png"
                                                 alt="" width="60">
                                        </div>
                                        <figcaption>えりりん❤︎</figcaption>
                                    </figure>
                                    <ul class="pc-header-mypage-sales-point">
                                        <li>
                                            <a href="https://www.mercari.com/jp/mypage/sales/" class="clearfix">
                                                <div class="l-left">売上金</div>
                                                <div class="l-right">¥ 0<i class="icon-arrow-right"></i></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.mercari.com/jp/mypage/point/" class="clearfix">
                                                <div class="l-left">ポイント</div>
                                                <div class="l-right">P 0<i class="icon-arrow-right"></i></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="mypage-nav-list">
                                    <li>
                                        <a href="https://www.mercari.com/jp/mypage/like/history/"
                                           class="mypage-nav-list-item">
                                            いいね！一覧
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <a href="javascript:void(0);" class="campaign-banner campaign-banner-lottery">
        <img src="/img/detailproduct/banner.jpg" alt="3月ドコモキャンペーン">
    </a>
    <?= $this->fetch('content') ?>
</div>

</body>
</html>